<form [formGroup]="demandeForm" class="row g-3 needs-validation custom-form" novalidate>
    <div class="col-md-6">
        <label for="nom" class="form-label">Nom:</label>
        <input class="form-control" formControlName="nom" id="nom" type="text" required>
<!--        <div *ngIf="demandeForm.get('nom').invalid && (demandeForm.get('nom').dirty || demandeForm.get('nom').touched)"-->
<!--             class="alert alert-danger">-->
<!--            <div *ngIf="demandeForm.get('nom').errors.required">-->
<!--                Nom is required.-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="col-md-6">
        <label for="client" class="form-label">Client:</label>
        <!--        <select class="form-select" formControlName="client" id="client">-->
        <!--            <option *ngFor="let client of clients" [value]="client.id">{{ client.nom }}</option>-->
        <!--        </select>-->
        <select #clientSelect class="form-select" formControlName="client" id="client" >
            <option *ngFor="let client of clients" [value]="client.id">{{ client.nom }}</option>
        </select>
    </div>

    <div class="col-md-6">
        <label for="description" class="form-label">Description:</label>
        <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>

    </div>

<!--    <div class="col-md-6">-->
<!--        <label for="dateDeCreation" class="form-label">Date de Création:</label>-->
<!--        <input class="form-control" formControlName="dateDeCreation" id="dateDeCreation" type="date">-->
<!--        &lt;!&ndash; Add validation for dateDeCreation if needed &ndash;&gt;-->
<!--    </div>-->

    <div class="col-md-6">
        <label for="statut" class="form-label">Statut:</label>
        <select class="form-select" formControlName="statut" id="statut">
            <option *ngFor="let status of statusList" [value]="status">{{ status }}</option>
        </select>
<!--        <div *ngIf="demandeForm.get('statut').invalid && (demandeForm.get('statut').dirty || demandeForm.get('statut').touched)"-->
<!--             class="alert alert-danger">-->
<!--            <div *ngIf="demandeForm.get('statut').errors.required">-->
<!--                Statut is required.-->
<!--            </div>-->
<!--        </div>-->
    </div>

<!--    <div class="col-12">-->
<!--        <div class="d-grid gap-2 d-md-flex justify-content-md-between">-->
<!--            <button (click)="Return()" class="btn btn-light" type="button">Cancel</button>-->
<!--            <button (click)="onSubmit()" class="btn btn-success" type="submit">Save</button>-->
<!--        </div>-->
<!--    </div>-->
    <app-workflow-decision
            *ngIf="demandeForm &&(demandeForm['workflow']!=undefined ||!(this.demandeForm.userPermission == 'WRITE')) "
            (decisionEvent)="Ouvrir()"
            (saveEvent)="onSubmit()"
            (RetournEvent)="Retourn()"
            [access]="demandeForm['userPermission'] === 'READ' || demandeForm['userPermission'] === 'NONE'"
            [decisions]="demandeForm['workflow'] ? demandeForm['workflow']['decisionsWF'] : null"
            [object]="demandeForm"
            [SaveObject]="demandeForm">
    </app-workflow-decision>
</form>



<!--<dx-popup-->
<!--        [width]="'25%'"-->
<!--        [height]="'auto'"-->
<!--        [rtlEnabled]="true"-->
<!--        [(visible)]="PopupConfirmationCreation"-->
<!--        [showTitle]="true"-->
<!--        title="{{ 'ConfirmationCreationTitle' | translate}}"-->
<!--        [dragEnabled]="false"-->
<!--        [closeOnOutsideClick]="true"-->
<!--        style="text-align: right"-->
<!--&gt;-->
<!--    <div>-->
<!--        <p>{{ 'ConfirmationCreation' | translate }} </p>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 alignRight">-->
<!--            <button type="submit" class="btn btn-success me-md-2"-->
<!--                    (click)="routerCaseRequest()">{{ 'Confirmer' | translate }}-->
<!--            </button>-->
<!--        </div>-->
<!--        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">-->
<!--            <button type="button" class="btn btn-outline-secondary me-md-2" style="float: left"-->
<!--                    (click)="PopupConfirmationCreation=false">{{ 'Annuler' | translate }}-->
<!--            </button>-->
<!--        </div>-->

<!--    </div>-->
<!--</dx-popup>-->

