.disabled {
  pointer-events: none;
  cursor: default;
}

.nav-link.active {
  color: #0096a6 !important;
  background-color: #fff ;
  border-color: #e0e0e0 #e0e0e0 #0096a6 !important;
}
.nav-tabs {
  border-bottom: 1px solid #ffffff !important;
}
.tab-content {
  position: relative;
  z-index: 1;
  border: 1px solid #0096a6 !important;
  background: #fff;
}

.buttonn{
    background-color: #0096a6;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: #40B3A2 !important;
  border-color: #ffffff #ffffff #40B3A2 !important;
  border:solid;
}