<dx-popup
        [maxWidth]="940"
        [width]="500"
        [height]="'auto'"
        [showTitle]="true"
        title="Créer une opportunité"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="showModal">

    <p>Voulez-vous créer un Bon de commande ?</p>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <button
                    class="btn btn-secondary"
                    (click)="onCancelClick()">Annuler</button> </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 alignRight">
            <button
                    class="btn btn-primary"
                    (click)="onCreateOpportunityClick()">Créer Bon de commande</button></div>
    </div>
</dx-popup>
<!--<ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">-->
<!--    <li class="nav-item" role="presentation">-->
<!--        <a-->
<!--                data-mdb-tab-init-->
<!--                class="nav-link {{ creationOffre ? 'active' : '' }}"-->
<!--                id="ex3-tab-1"-->
<!--                href="#ex3-tabs-1"-->
<!--                role="tab"-->
<!--                aria-controls="ex3-tabs-1"-->
<!--                aria-selected="true"-->
<!--                [class.disabled]="!creationOffre"-->
<!--        >Création offre</a-->
<!--        >-->
<!--    </li>-->
<!--    <li class="nav-item" role="presentation">-->
<!--        <a-->
<!--                data-mdb-tab-init-->
<!--                class="nav-link {{ validation ? 'active' : '' }}"-->
<!--                id="ex3-tab-2"-->
<!--                href="#ex3-tabs-2"-->
<!--                role="tab"-->
<!--                aria-controls="ex3-tabs-2"-->
<!--                aria-selected="false"-->
<!--                [class.disabled]="!validation"-->
<!--        >Validation offre</a-->
<!--        >-->
<!--    </li>-->
<!--    <li class="nav-item" role="presentation">-->
<!--        <a-->
<!--                data-mdb-tab-init-->
<!--                class="nav-link {{ reponse ? 'active' : '' }}"-->
<!--                id="ex3-tab-3"-->
<!--                href="#ex3-tabs-3"-->
<!--                role="tab"-->
<!--                aria-controls="ex3-tabs-3"-->
<!--                aria-selected="false"-->
<!--                [class.disabled]="!reponse"-->
<!--        >Réponse du Client</a-->
<!--        >-->
<!--    </li>-->

<!--    &lt;!&ndash; New tab &ndash;&gt;-->
<!--    <li class="nav-item" role="presentation">-->
<!--        <a-->
<!--                data-mdb-tab-init-->
<!--                class="nav-link {{ elsebool ? 'active' : '' }}"-->
<!--                id="ex3-tab-4"-->
<!--                href="#ex3-tabs-4"-->
<!--                role="tab"-->
<!--                aria-controls="ex3-tabs-4"-->
<!--                aria-selected="false"-->
<!--                [class.disabled]="!elsebool"-->
<!--        >modifier offre</a>-->
<!--    </li>-->


<!--</ul>-->
<!-- Tabs navs -->

<!-- Tabs content -->

<div>
    <!--        <div  class="card-header text-center bg-secondary  text-white" style="background-color: #242f50 !important;">-->
    <!--            <h5> {{'caseRequest.TitleRqEdit'|translate}} ({{demandeForm.requestCaseNumber}})</h5>-->
    <!--        </div>-->

    <div class="card-header text-center bg-secondary text-white" style="background-color: #40B3A2 !important;">
        <div class="d-flex justify-content-center align-items-center" style="width: 100%;">
            <div *ngIf="objectData!=undefined" class="d-flex align-items-center">
                <h5> Modifier offre  ({{objectData.id}})</h5>
                <div class="icon-container ml-3" style="cursor: pointer;" (click)="showPopupWF()" title="{{'show-event.Voir la liste des événements' | translate}}">
                    <i class="fas fa-project-diagram"></i>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="tab-content" id="ex2-content">
    <!-- acctiver when verification is true-->
    <style>
        /* Defining a custom border on all
            sides except the top side */
        .custom-field {
            border: 1px solid #40B3A2;
            border-top: none;
            margin-top: 32px ;

            padding: 8px;
            border-radius: 8px !important;
        }

        /* Defining the style of the
        heading/legend for custom fieldset */
        .custom-field h1 {
            font-size: 15px;
            margin: -16px -8px 0;
            color: #40B3A2;

            font-weight: 500;
        }

        /* Using float:left allows us to mimic
           the legend like fieldset. The
           float:right property can also be
           used to show the legend on right side */

        .custom-field h1 span {
            float: left;
        }

        /* Creating the custom top border to make
            it look like fieldset defining small
            border before the legend. The width
            can be modified to change position
            of the legend */
        .custom-field h1:before {
            border-top: 1px solid #40B3A2;
            content: ' ';
            float: left;
            margin: 8px 2px 0 2px;
            width: 20px;
            border-radius: 8px !important;
        }

        /* Defining a long border after the
        legend, using overflow hidden to
        actually hide the line behind the
        legend text. It can be removed
        for a different effect */
        .custom-field h1:after {
            border-top: 1px solid #40B3A2;
            content: ' ';
            display: block;
            height: 24px;
            left: 2px;
            margin: 0 1px 0 0;
            overflow: hidden;
            position: relative;
            top: 8px;
            border-top-right-radius: 8px ;
        }
        .fieldContent{

            padding: 20px;
        }
    </style>
    <div
            class="tab-pane fade {{ creationOffre ? 'show active' : '' }}"
            id="ex3-tabs-1"
            role="tabpanel"
            aria-labelledby="ex3-tab-1"
            *ngIf="creationOffre"
    >
        <div class="custom-field">
            <h1>
                    <span>
                        Offre de prix
                    </span>
            </h1>
            <div class="fieldContent">
        <form [formGroup]="offreF" class="row g-3 needs-validation custom-form" novalidate>



<!--            <div class="form-group">-->
<!--                <label class="form-label">mode de Paiement:</label>-->

<!--                <select formControlName="modePaiement" class="form-select">-->
<!--                    <option value="">Sélectionner un mode de paiement</option>-->
<!--                    <option value="carte">Carte de crédit</option>-->
<!--                    <option value="virement">Virement bancaire</option>-->

<!--                    <option value="espece">Espèces</option>-->
<!--                    <option value="cheque">Chèque</option>-->
<!--                </select>-->
<!--            </div>-->

            <div class="form-group">
                <label for="montant" class="form-label">montant:</label>
                <input class="form-control" formControlName="montant" id="montant" type="text" required>

            </div>


            <div class="form-group">
                <label for="description" class="form-label">Description:</label>
                <textarea class="form-control" formControlName="description" id="description" type="text" required></textarea>

            </div>
<!--            <div class="form-group">-->
<!--                <label for="opp" class="form-label">Opprotunité Associée :</label>-->
<!--                &lt;!&ndash;        <select class="form-select" formControlName="client" id="client">&ndash;&gt;-->
<!--                &lt;!&ndash;            <option *ngFor="let client of clients" [value]="client.id">{{ client.nom }}</option>&ndash;&gt;-->
<!--                &lt;!&ndash;        </select>&ndash;&gt;-->
<!--                <select #OppSelect  class="custom-select my-1 mr-sm-2"  id="opp" >-->
<!--                    <option *ngFor="let opp of opps" [value]="opp.id">{{ opp.nom }}</option>-->
<!--                </select>-->
<!--            </div>-->
            <div class="form-group">
                <label for="dateLivraison" class="form-label">Date de livraison:</label>
                <input class="form-control" formControlName="dateLivraison" id="dateLivraison" type="date" required>
            </div>
            <div class="custom-field">
                <h1>
                    <span>
                      Articles
                    </span>
                </h1>
                <div class="fieldContent">

                </div>
                <dx-data-grid
                    #gridContainer

                    [dataSource]="tasks"

                    [columns]="['nom', 'quantite', 'prixUnitaire']"
                    [showBorders]="true"
                    (onToolbarPreparing)="onToolbarPreparing($event)"
                    id="gridContainer"
                    keyExpr="id"
                >

                    <dxi-column dataField="nom"></dxi-column>
                    <dxi-column dataField="quantite"></dxi-column>
                    <dxi-column dataField="prixUnitaire"></dxi-column>

                    <dxi-column [allowResizing]="false"
                                [fixed]="false" caption="{{'' | translate}}"
                                cellTemplate="cellTemplateActions"
                    >
                    </dxi-column>
                    <div *dxTemplate="let data of 'cellTemplateActions'"
                         style="display: flex; justify-content: center; align-items: center;">
                        <a (click)="editTask(data.data)" target="_blank"
                           title="Consulter demande"><i
                                class="fa fa-edit eyeIconStyle"></i></a>&nbsp;

                        <a (click)="deleteArticle(data.data.id)" target="_blank"   title="" >
                            <i class="fa fa-trash" style="color:#168c94;">
                            </i></a>
                    </div>

                </dx-data-grid>
                <dx-popup
                        [(visible)]="popupVisible"
                        [width]="600"
                        [height]="400"
                        [showTitle]="true"
                        title="Ajouter Article"
                        [dragEnabled]="true"
                        [closeOnOutsideClick]="true">
                    <div *dxTemplate="let data of 'content'">
                        <form [formGroup]="taskForm">
                            <div class="form-group">
                                <label>Nom:</label>
                                <input type="text" class="form-control" formControlName="nom">
                            </div>

                            <div class="form-group">
                                <label >Quantite:</label>
                                <input type="number" class="form-control" formControlName="quantite">
                            </div>
                            <div class="form-group">
                                <label >prix Unitaire:</label>
                                <input type="number" class="form-control" formControlName="prixUnitaire">
                            </div>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea type="text" class="form-control" formControlName="description"></textarea>
                            </div>
                        </form>
                        <div class="dx-popup-bottom">
                            <button type="button" class="btn btn-secondary" (click)="closePopup()">Cancel</button>
                            <button type="button" class="btn btn-primary" (click)="addTask()">Add</button>
                        </div>
                    </div>
                </dx-popup>
            </div>
            <div class="workflow-container">
                <!--            <button (click)="Return()" class="btn btn-light" mdbRipple type="button">Annuler</button>-->
                <!--            <button class="btn btn-success me-md-2" mdbRipple type="submit">Confirmer</button>-->
                <app-workflow-decision
                        *ngIf="offreForm &&(offreForm['workflow']!=undefined ||!(this.offreForm.userPermission == 'WRITE')) "
                        (decisionEvent)="Confirmation($event)"
                        (saveEvent)="save()"
                        (RetournEvent)="Retourn()"
                        [access]="offreForm['userPermission'] === 'READ' || offreForm['userPermission'] === 'NONE'"
                        [decisions]="decissionWF"
                        [object]="offreForm"
                        [SaveObject]="offreForm">
                </app-workflow-decision>

            </div>
            <button (click)="downloadPdfOnClick()" class="btn btn-primary btn-sm">Download PDF <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
            </svg></button>

        </form>

            </div>
        </div>
    </div>
    <div
            class="tab-pane fade {{ validation ? 'show active' : '' }}"
            id="ex3-tabs-2"
            role="tabpanel"
            aria-labelledby="ex3-tab-2"
            *ngIf="validation"
    >
        <div class="custom-field">
            <h1>
                    <span>
                        Offre de prix
                    </span>
            </h1>
            <div class="fieldContent">
        <form [formGroup]="offreF" class="row g-3 needs-validation custom-form" novalidate>


<!--            <div class="form-group">-->
<!--                <label  class="form-label">mode de Paiement:</label>-->
<!--                <select formControlName="modePaiement" class="form-select">-->
<!--                    <option value="">Sélectionner un mode de paiement</option>-->
<!--                    <option value="carte">Carte de crédit</option>-->
<!--                    <option value="virement">Virement bancaire</option>-->

<!--                    <option value="espece">Espèces</option>-->
<!--                    <option value="cheque">Chèque</option>-->
<!--                </select>-->

<!--            </div>-->

            <div class="form-group">
                <label for="montant" class="form-label">montant:</label>
                <input class="form-control" formControlName="montant"  type="text" required>

            </div>


            <div class="form-group">
                <label for="description" class="form-label">Description:</label>
                <textarea class="form-control" formControlName="description"  type="text" required></textarea>

            </div>
<!--            <div class="form-group">-->
<!--                <label for="opp" class="form-label">Opprotunité Associée :</label>-->
<!--                &lt;!&ndash;        <select class="form-select" formControlName="client" id="client">&ndash;&gt;-->
<!--                &lt;!&ndash;            <option *ngFor="let client of clients" [value]="client.id">{{ client.nom }}</option>&ndash;&gt;-->
<!--                &lt;!&ndash;        </select>&ndash;&gt;-->
<!--                <select #OppSelect  class="custom-select my-1 mr-sm-2"   >-->
<!--                    <option *ngFor="let opp of opps" [value]="opp.id">{{ opp.nom }}</option>-->
<!--                </select>-->
<!--            </div>-->
            <div class="form-group">
                <label for="dateLivraison" class="form-label">Date de livraison:</label>
                <input class="form-control" formControlName="dateLivraison" type="date" required>
            </div>

            <div class="workflow-container">
                <!--            <button (click)="Return()" class="btn btn-light" mdbRipple type="button">Annuler</button>-->
                <!--            <button class="btn btn-success me-md-2" mdbRipple type="submit">Confirmer</button>-->
                <app-workflow-decision
                        *ngIf="offreForm &&(offreForm['workflow']!=undefined ||!(this.offreForm.userPermission == 'WRITE')) "
                        (decisionEvent)="Confirmation($event)"
                        (saveEvent)="save()"
                        (RetournEvent)="Retourn()"
                        [access]="offreForm['userPermission'] === 'READ' || offreForm['userPermission'] === 'NONE'"
                        [decisions]="decissionWF"
                        [object]="offreForm"
                        [SaveObject]="offreForm">
                </app-workflow-decision>

            </div>
            <button (click)="downloadPdfOnClick()"  class="btn btn-primary btn-sm">Download PDF</button>
        </form>
            </div>
        </div>
    </div>
    <div
            class="tab-pane fade {{ reponse ? 'show active' : '' }}"
            id="ex3-tabs-3"
            role="tabpanel"
            aria-labelledby="ex3-tab-3"
            *ngIf="reponse"
    >
        <div class="custom-field">
            <h1>
                    <span>
                        Offre de prix
                    </span>
            </h1>
            <div class="fieldContent">
        <form [formGroup]="offreF" class="row g-3 needs-validation custom-form" novalidate>


<!--            <div class="form-group">-->
<!--                <label class="form-label">mode de Paiement:</label>-->
<!--                <select formControlName="modePaiement" class="form-select">-->
<!--                    <option value="">Sélectionner un mode de paiement</option>-->
<!--                    <option value="carte">Carte de crédit</option>-->
<!--                    <option value="virement">Virement bancaire</option>-->

<!--                    <option value="espece">Espèces</option>-->
<!--                    <option value="cheque">Chèque</option>-->
<!--                </select>-->

<!--            </div>-->

            <div class="form-group">
                <label for="montant" class="form-label">montant:</label>
                <input class="form-control" formControlName="montant"  type="text" required>

            </div>


            <div class="form-group">
                <label for="description" class="form-label">Description:</label>
                <textarea class="form-control" formControlName="description"  type="text" required></textarea>

            </div>
<!--            <div class="form-group">-->
<!--                <label for="opp" class="form-label">Opprotunité Associée :</label>-->
<!--                &lt;!&ndash;        <select class="form-select" formControlName="client" id="client">&ndash;&gt;-->
<!--                &lt;!&ndash;            <option *ngFor="let client of clients" [value]="client.id">{{ client.nom }}</option>&ndash;&gt;-->
<!--                &lt;!&ndash;        </select>&ndash;&gt;-->
<!--                <select #OppSelect  class="custom-select my-1 mr-sm-2"   >-->
<!--                    <option *ngFor="let opp of opps" [value]="opp.id">{{ opp.nom }}</option>-->
<!--                </select>-->
<!--            </div>-->
            <div class="form-group">
                <label for="dateLivraison" class="form-label">Date de livraison:</label>
                <input class="form-control" formControlName="dateLivraison" type="date" required>
            </div>

            <div class="workflow-container">
                <!--            <button (click)="Return()" class="btn btn-light" mdbRipple type="button">Annuler</button>-->
                <!--            <button class="btn btn-success me-md-2" mdbRipple type="submit">Confirmer</button>-->
                <app-workflow-decision
                        *ngIf="offreForm &&(offreForm['workflow']!=undefined ||!(this.offreForm.userPermission == 'WRITE')) "
                        (decisionEvent)="Confirmation($event)"
                        (saveEvent)="save()"
                        (RetournEvent)="Retourn()"
                        [access]="offreForm['userPermission'] === 'READ' || offreForm['userPermission'] === 'NONE'"
                        [decisions]="decissionWF"
                        [object]="offreForm"
                        [SaveObject]="offreForm">
                </app-workflow-decision>

            </div>
            <button (click)="downloadPdfOnClick()"   class="btn btn-primary btn-sm"

            >Download PDF</button>
        </form>
            </div>
        </div>
    </div>



    <!-- Content for new tab -->
    <div
            class="tab-pane fade {{ elsebool ? 'show active' : '' }}"
            id="ex3-tabs-4"
            role="tabpanel"
            aria-labelledby="ex3-tab-4"
            *ngIf="elsebool"
    >
        <div class="custom-field">
            <h1>
                    <span>
                        Offre de prix
                    </span>
            </h1>
            <div class="fieldContent">
        <!-- Your content for the new tab goes here -->
        <form [formGroup]="offreF" class="row g-3 needs-validation custom-form" novalidate>


<!--            <div class="form-group">-->
<!--                <label class="form-label">mode de Paiement:</label>-->
<!--                <select formControlName="modePaiement" class="form-select">-->
<!--                    <option value="">Sélectionner un mode de paiement</option>-->
<!--                    <option value="carte">Carte de crédit</option>-->
<!--                    <option value="virement">Virement bancaire</option>-->

<!--                    <option value="espece">Espèces</option>-->
<!--                    <option value="cheque">Chèque</option>-->
<!--                </select>-->
<!--            </div>-->

            <div class="form-group">
                <label for="montant" class="form-label">montant:</label>
                <input class="form-control" formControlName="montant"  type="text" required>

            </div>


            <div class="form-group">
                <label for="description" class="form-label">Description:</label>
                <textarea class="form-control" formControlName="description"  type="text" required></textarea>

            </div>
<!--            <div class="form-group">-->
<!--                <label for="opp" class="form-label">Opprotunité Associée :</label>-->
<!--                &lt;!&ndash;        <select class="form-select" formControlName="client" id="client">&ndash;&gt;-->
<!--                &lt;!&ndash;            <option *ngFor="let client of clients" [value]="client.id">{{ client.nom }}</option>&ndash;&gt;-->
<!--                &lt;!&ndash;        </select>&ndash;&gt;-->
<!--                <select #OppSelect  class="custom-select my-1 mr-sm-2"   >-->
<!--                    <option *ngFor="let opp of opps" [value]="opp.id">{{ opp.nom }}</option>-->
<!--                </select>-->
<!--            </div>-->
            <div class="form-group">
                <label for="dateLivraison" class="form-label">Date de livraison:</label>
                <input class="form-control" formControlName="dateLivraison" type="date" required>
            </div>

            <div class="workflow-container">
                <!--            <button (click)="Return()" class="btn btn-light" mdbRipple type="button">Annuler</button>-->
                <!--            <button class="btn btn-success me-md-2" mdbRipple type="submit">Confirmer</button>-->
                <app-workflow-decision
                        *ngIf="offreForm &&(offreForm['workflow']!=undefined ||!(this.offreForm.userPermission == 'WRITE')) "
                        (decisionEvent)="Confirmation($event)"
                        (saveEvent)="save()"
                        (RetournEvent)="Retourn()"
                        [access]="offreForm['userPermission'] === 'READ' || offreForm['userPermission'] === 'NONE'"
                        [decisions]="decissionWF"
                        [object]="offreForm"
                        [SaveObject]="offreForm">
                </app-workflow-decision>

            </div>

            <button  (click)="downloadPdfOnClick()"  class="btn btn-primary btn-sm">Download PDF</button>
        </form>
            </div>
        </div>
    </div>



</div>
<dx-popup
        [showCloseButton]="true"
        [maxWidth]="'auto'"
        [width]="popupWidth"
        [height]="popupHeight"
        [showTitle]="false"
        title="Workflow Viewer"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupViewerVisible">
    <div *dxTemplate="let data of 'content'">
        <app-journal [viewerUrl]="objectData.workflow.wfProcessID" [historicsWF]="objectData.workflow.historicWF" [historicsEvt]="objectData.events"
                     [historicsAcces]="objectData.userActivity"></app-journal>
    </div>
</dx-popup>

<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '#employee' }"
    [(visible)]="loadingVisible"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [hideOnOutsideClick]="false"
    (onShown)="onShown()"
    (onHidden)="onHidden()"
>
</dx-load-panel>