
<div class="spinnerContainer">
    <div class="loader" *ngIf="!isLoading">

    </div>
</div>
<dx-file-manager *ngIf="isLoading"
                 id="fileManager"
                 [fileSystemProvider]="objectFileProvider"
                 height="300"
                 currentPath="Widescreen"
                 (onSelectedFileOpened)="displayImagePopup($event)"
                 (onFileUploaded)="onFileUploaded($event)"
                 (onItemDownloading)="onItemDownloading($event)"
                 (onItemDeleted)="onItemDeleted($event)"

>
    <dxo-permissions
            [create]="true"
            [copy]="true"
            [move]="true"
            [delete]="true"
            [rename]="true"
            [upload]="true"
            [download]="true"
    >
    </dxo-permissions>
    <!--    <dxo-item-view>-->
    <!--        <dxo-details>-->
    <!--            <dxi-column dataField="thumbnail"></dxi-column>-->
    <!--            <dxi-column dataField="name"></dxi-column>-->
    <!--            <dxi-column dataField="size" caption="Modified"></dxi-column>-->

    <!--        </dxo-details>-->
    <!--    </dxo-item-view>-->

    <dxo-toolbar>
        <dxi-item name="upload"></dxi-item>
        <dxi-item name="refresh"></dxi-item>
        <dxi-item name="switchView"></dxi-item>
    </dxo-toolbar>
<!--    <dxo-item-view mode="thumbnails"> </dxo-item-view>-->
    <dxo-item-view [showParentFolder]="false">
        <dxo-details>
            <dxi-column dataField="thumbnail"></dxi-column>
            <dxi-column dataField="name"></dxi-column>

            <dxi-column dataField="dateModified"></dxi-column>
            <dxi-column dataField="size"></dxi-column>

        </dxo-details>
    </dxo-item-view>

</dx-file-manager>
<dx-popup
        id="photo-popup"
        maxHeight="600"
        [hideOnOutsideClick]="true"
        [(title)]="imageItemToDisplay.name"
        [(visible)]="popupVisible"
        [showCloseButton]="true"
>
    <div *dxTemplate="let data of 'content'" class="photo-popup-content">
        <img
                [src]="sanitizedImagePath"
                class="photo-popup-image"
                width="100%"
                height="150%"
        />

    </div>
</dx-popup>
