<dx-data-grid
    #dataGridoffre
    [showBorders]="true"
    [allowColumnResizing]="true"
    id="gridContainer"
    (onToolbarPreparing)="onToolbarPreparing($event)"
    [columnAutoWidth]="true"
    [dataSource]="dataSourceElement"
    [remoteOperations]="{filtering: false, grouping: false, sorting: false, paging: true}"
    [rowAlternationEnabled]="false"
    [showColumnLines]="true"
    (onRowDblClick)="EditOffre($event)"

    keyExpr="id"
    id="dataGridoffre"
    class="dataGridoffre"
>


    <dxo-scrolling rowRenderingMode="virtual"></dxo-scrolling>
    <dxo-paging [pageSize]="pageSize" [pageIndex]="0"></dxo-paging>
    <dxi-column dataField="dateOffre" dataType="date"></dxi-column>
    <dxi-column dataField="dateLivraison" dataType="date"></dxi-column>

    <dxi-column dataField="montant" dataType="number"></dxi-column>



    <dxi-column [allowResizing]="false"
                [fixed]="false" caption="{{'' | translate}}"
                cellTemplate="cellTemplateActions"
    >
    </dxi-column>
    <div *dxTemplate="let data of 'cellTemplateActions'"
         style="display: flex; justify-content: center; align-items: center;">
        <a (click)="showbordereaux(data.data.id)" target="_blank"
           title="Consulter demande"><i
                class="fa fa-edit eyeIconStyle"></i></a>&nbsp;

        <a (click)="popupDelete(data.data.id)" target="_blank"   title="" >
            <i class="fa fa-trash" style="color:#168c94;">
            </i></a>
    </div>
    <div *dxTemplate="let data of 'ExportPDF'">
        <dx-button (onClick)="exportGrid()" hint="{{ 'exportPDF' | translate }}" icon="exportpdf"
                   id="exportButton"></dx-button>
    </div>
    <dxo-pager
            [allowedPageSizes]="allowedPageSizes"
            [showInfo]="true"
            [showPageSizeSelector]="true"
            [visible]="true"
            displayMode="full"
            [showNavigationButtons]="true"
    ></dxo-pager>



</dx-data-grid>
<dx-popup
        [maxWidth]="940"
        [width]="500"
        [height]="'auto'"
        [showTitle]="true"
        title="Confirmation de la suppression"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupDeleteVisible">
    <div>
        <p> Êtes-vous sûr de vouloir supprimer cet élément ? </p>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <button type="button" class="btn btn-outline-secondary me-md-2"
                    (click)="fermerPopup()">Annuler
            </button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 alignRight">
            <button type="submit" class="btn btn-success me-md-2"
                    (click)="deleteOffre()">Confirmer
            </button>
        </div>
    </div>
</dx-popup>