<app-http-services></app-http-services>

<!--<div class="card mt-2">-->
<div>
    <!--        <div class="card-body">-->
    <!--            <div class="card-text">-->
    <!--                <div class=" mt-2">-->
    <!--                    <div class="margin-button-10">-->
    <!--                        <p class="styleTitreGridAtt">{{ 'ATTACHEMENT.Titlegrid' | translate }}</p></div>-->
    <!--                    <dx-button-->
    <!--                            title="Liste"-->
    <!--                            class="button-info style button-thumbnail"-->
    <!--                            (click)="flippedEvent()">-->
    <!--                        <i class="fas fa-th-list"></i>-->
    <!--                    </dx-button>-->
    <!--                    <br>-->
    <dx-file-manager
            id="fileManager"
            name="fileManager"
            [fileSystemProvider]="this.fileSystemProvider"
            (onSelectedFileOpened)="fileManager_onSelectedFileOpened($event)"
            [customizeThumbnail]="customizeIcon"
            [selectionMode]="'single'"
            (onContextMenuItemClick)="onItemClick($event)"
            height="auto"
            (onSelectionChanged)="fileManager_onSelectionChanged($event)"
    >
        <dxo-permissions
                [copy]="true"
                [move]="true"
                [delete]="true"
                [rename]="true"
                [download]="true">
        </dxo-permissions>

        <dxo-toolbar>
            <dxi-item name="showNavPane" [visible]="false"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="create"></dxi-item>
            <dxi-item
                    *ngIf="ContainerViewer"
                    widget="dxMenu"
                    location="after"
                    [options]="addfileButtonOpt"
            ></dxi-item>
            <dxi-item
                    widget="dxMenu"
                    location="after"
                    [options]="refreshButtonOpt"
            ></dxi-item>
            <dxi-item
                    *ngIf="archiveButtonVisible"
                    widget="dxMenu"
                    location="after"
                    [options]="archiveButtonOpt"
            ></dxi-item>
            <dxi-item name="separator" location="after"></dxi-item>
            <dxi-item
                    *ngIf="flipedDatagridButtonVisible"
                    widget="dxMenu"
                    location="after"
                    [options]="flipedDatagridButtonOpt"
            ></dxi-item>
            <!--                            <dxi-item name="refresh"></dxi-item>-->
            <dxi-item name="separator" location="after"></dxi-item>
            <dxi-item
                    *ngIf="this.mode==='thumbnails' && flipedDatagridButtonVisible"
                    widget="dxMenu"
                    location="after"
                    [options]="detailslayoutDatagridButtonOpt"
            ></dxi-item>
            <dxi-item
                    *ngIf="this.mode==='details' && flipedDatagridButtonVisible"
                    widget="dxMenu"
                    location="after"
                    [options]="thumbnaillayoutDatagridButtonOpt"
            ></dxi-item>
            <!--                            <dxi-item name="switchView"></dxi-item>-->
            <dxi-file-selection-item
                    widget="dxMenu"
                    location="before"
                    [options]="ModifMenuOptions"
            ></dxi-file-selection-item>
            <dxi-file-selection-item name="separator"></dxi-file-selection-item>
            <!--                            <dxi-file-selection-item name="refresh"></dxi-file-selection-item>-->
            <dxi-file-selection-item name="clearSelection"
                                     text="{{ 'ATTACHEMENT.clearAll' | translate }}"></dxi-file-selection-item>
        </dxo-toolbar>

        <dxo-item-view [mode]="mode">
            <dxo-details>
                <dxi-column dataField="thumbnail" cssClass="dx-icon-customCSSRed"></dxi-column>
                <dxi-column dataField="name" visibleIndex="1"
                            caption="{{ 'ATTACHEMENT.docTitle' | translate }}"></dxi-column>
                <dxi-column dataField="dataItem.fileName" visibleIndex="2"
                            caption="{{ 'ATTACHEMENT.fileName' | translate }}"></dxi-column>
                <dxi-column
                        dataField="dateModified"
                        cellTemplate="cellTemplateSysdateUpdated"
                        caption="{{'ATTACHEMENT.datemaj'| translate}}"
                        dataType="date"
                        visibleIndex="3"
                ></dxi-column>
                <dxi-column dataField="size" visibleIndex="4"
                            caption="{{ 'ATTACHEMENT.size' | translate }}"></dxi-column>
                <div *dxTemplate="let data of 'cellTemplateSysdateUpdated' ">
                    <div *ngIf="data.data.dateModified!=null && data.data.dateModified != undefined && data.data.dateModified != ''">
                        {{formatDate.formatDFTshort(data.data.dateModified)}}</div>
                </div>
            </dxo-details>
        </dxo-item-view>

        <dxo-context-menu>
            <dxi-item *ngFor="let data of actionItems" [text]="data.text" [icon]="data.icon"
                      [beginGroup]="data.beginGroup">

                <dxi-item *ngFor="let data of data.subItems"
                          [text]="data.text"
                          [icon]="data.icon"
                          [disabled]="data.disabled"
                          [beginGroup]="data.beginGroup">
                </dxi-item>
            </dxi-item>
        </dxo-context-menu>
    </dx-file-manager>
</div>
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<app-popup-attachment-viewer
        [fileName]="fileName"
        [visibleTrueModal]="visibleTrueModal"
        [PcTkExist]="pstkEnabledAndRunning"
        [permissionDenied]="permissionDenied"
        [permissionToTopViewer]="permissionToTopViewer"
        [avertismentPopUp]="avertismentPopUp"
        [pgNbr]="pgNbr"
        [base64]="base64"
        [permissionDeniedSig]="permissionDeniedSig"
        [jsondocviewer]="jsondocviewer"
        (BASE64_Output_Reload)="getBASE64_Output($event)"
        (BASE64_Output_Save)="BASE64_Output_Save($event)"
        (closeModal)="closeViwerPopUp()"
        (fileSigned)="signedEvent($event)"
        [idAttachement]="id"
        [filebyId]="filebyId"
        [objectData]="objectData"
        [fileAccessToken]="fileAccessToken"
        (updateWaterMarker)="updateWaterMarkerrs($event)"
></app-popup-attachment-viewer>


<dx-popup
        [(visible)]="popupDeleteFileVisible"
        [showTitle]="true"
        [closeOnOutsideClick]="true"
        [maxWidth]="'100%'"
        [width]="'20%'"
        [height]="'auto'"
        [maxHeight]="500"
        [dragEnabled]="false"
        resizeEnabled="true"
        (onHiding)="popupDeleteFileVisible=false"
        (closeOnOutsideClickChange)="popupDeleteFileVisible=false"
        title="{{'Supprimer Fichier' | translate}}">
    <div>
        <p>{{'Êtes-vous sûr de vouloir supprimer cet élément?' | translate}} </p>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <button (click)="popupDeleteFileVisible=false" class="btn btn-outline-secondary  mb-1 mr-1"
                    type="button">{{'close' | translate}}
            </button>
        </div>
        <div>
            <button (click)="Confirmdelete()" class="btn btn-success"
                    type="submit">{{'accept' | translate}}
            </button>
        </div>
    </div>
</dx-popup>


<dx-popup
        [(visible)]="popupModifFileVisible"
        [showTitle]="true"
        [closeOnOutsideClick]="false"
        [maxWidth]="'100%'"
        [width]="'30%'"
        [height]="'auto'"
        [maxHeight]="500"
        [dragEnabled]="false"
        (onHiding)="refresh()"
        resizeEnabled="true"
        title="{{ 'ATTACHEMENT.modificationPopUp' | translate }}">
    <div class="card text-center margin-1" style="box-shadow: {{boxShadow}}"
         *ngIf="popupModifFileVisible===true && fileTemplate!=undefined&& fileTemplate!=null&& fileTemplate.requestFileDefinition!=undefined&& fileTemplate.requestFileDefinition!=null ">
        <div class="card-header hei-10" style="background-color: {{backgroundColor}} ">
            <div class="row d-flex mt-1">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 width1" *ngIf="fileTemplate">
                    <i [class]="creatingIcon(fileTemplate.requestFileDefinition.bsIcon)" aria-hidden="true"></i>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 width2" *ngIf="fileTemplate">
                    {{fileTemplate.requestFileDefinition.label}}
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 width3" *ngIf="fileTemplate">
                    {{fileTemplate.requestFileDefinition.minCopies}}
                    -{{fileTemplate.requestFileDefinition.maxCopies}}
                </div>
            </div>
        </div>
        <div class="card-body modif-popup-style">

            <dx-form
                #formulaire
                id="formulaire"
                [formData]="fileTemplate"
                labelMode="floating"
                stylingMode="filled"
                colCount="auto"
                [minColWidth]="400"
                [screenByWidth]="screen"
            >
                <dxi-item itemType="group">
                    <dxo-col-count-by-screen
                            [sm]="3">
                    </dxo-col-count-by-screen>
                    <dxi-item dataField="docTitle" editorType="dxTextBox" [editorOptions]="editorOptionsName">
                        <dxi-validation-rule type="required" message=""></dxi-validation-rule>
                        <dxo-label text="{{ 'name' | translate }}"></dxo-label>
                        <dxi-validation-rule type="pattern"
                                             [pattern]="validDocTitle"
                                             [message]="validDocTitleMSG">
                        </dxi-validation-rule>

                    </dxi-item>
                    <dxi-item
                            *ngIf="fileTemplate.requestFileDefinition.hasIdRegex=='MANDATORY' || fileTemplate.requestFileDefinition.hasIdRegex=='OPTIONAL'"
                            dataField="docId" editorType="dxTextBox" [editorOptions]="editorOptionsIdentificateur">
                        <dxi-validation-rule type="pattern"
                                             [pattern]="fileTemplate.requestFileDefinition.idRegex"
                                             [message]="massageExpressionRegulier"
                                             *ngIf="namePattern===true"
                        >
                        </dxi-validation-rule>
                        <dxi-validation-rule *ngIf=" (fileTemplate.requestFileDefinition.hasIdRegex=='MANDATORY')"
                                             type="required" message=""></dxi-validation-rule>
                        <dxo-label text="{{ 'ATTACHEMENT.Identificateur' | translate }}"></dxo-label>
                    </dxi-item>
                    <dxi-item
                            *ngIf="fileTemplate.requestFileDefinition.hasIssueDate=='MANDATORY' || fileTemplate.requestFileDefinition.hasIssueDate=='OPTIONAL'"
                            dataField="docIssueDate" editorType="dxDateBox"
                            [editorOptions]="editorOptionsDateEmission">
                        <dxi-validation-rule *ngIf="(fileTemplate.requestFileDefinition.hasIssueDate=='MANDATORY' )"
                                             type="required" message=""></dxi-validation-rule>
                        <dxo-label text="{{ 'ATTACHEMENT.DateEmission' | translate }}"></dxo-label>
                    </dxi-item>

                    <dxi-item
                            *ngIf="fileTemplate.requestFileDefinition.hasExpirationDate=='MANDATORY' ||fileTemplate.requestFileDefinition.hasExpirationDate=='OPTIONAL'"
                            dataField="docExpirationDate" editorType="dxDateBox"
                            [editorOptions]="editorOptionsDateExpiration"
                    >
                        <dxi-validation-rule
                                *ngIf="(fileTemplate.requestFileDefinition.hasExpirationDate=='MANDATORY')"
                                type="required" message=""></dxi-validation-rule>
                        <dxo-label text="{{ 'ATTACHEMENT.DateExpiration' | translate }}"></dxo-label>
                    </dxi-item>
                    <dxi-item
                            *ngIf="fileTemplate.requestFileDefinition.hasIssueAdress=='MANDATORY' ||fileTemplate.requestFileDefinition.hasIssueAdress=='OPTIONAL'"
                            dataField="issueAdress" editorType="dxTextBox">
                        <dxi-validation-rule
                                *ngIf="(fileTemplate.requestFileDefinition.hasIssueAdress=='MANDATORY')"
                                type="required" message=""></dxi-validation-rule>
                        <dxo-label text="{{ 'ATTACHEMENT.LieuEmission' | translate }}"></dxo-label>
                    </dxi-item>
                    <dxi-item
                            *ngIf="fileTemplate.requestFileDefinition.hasCopiesNbr=='MANDATORY' ||fileTemplate.requestFileDefinition.hasCopiesNbr=='OPTIONAL'"
                            dataField="docCopies" editorType="dxNumberBox"
                            [editorOptions]="{showSpinButtons:true,min:minCopies,max:maxCopies,value:1}">
                        <dxi-validation-rule *ngIf="(fileTemplate.requestFileDefinition.hasCopiesNbr=='MANDATORY')"
                                             type="required" message=""></dxi-validation-rule>
                        <dxo-label text="{{ 'ATTACHEMENT.nbrCopies' | translate }}"></dxo-label>
                    </dxi-item>

                    <dxi-item dataField="fileName" editorType="dxTextBox">
                        <dxi-validation-rule type="required" message=""
                                             *ngIf="(fileTemplate.requestFileDefinition.fileRequired==true)"></dxi-validation-rule>
                        <dxi-validation-rule type="pattern"
                                             [pattern]="validFilename"
                                             [message]="validFileMsg">
                        </dxi-validation-rule>
                        <dxo-label text="{{ 'ATTACHEMENT.fileName' | translate }}"></dxo-label>
                    </dxi-item>
                    <!--                        <dxi-item dataField="responsable"-->
                    <!--                                  editorType="dxSelectBox"-->
                    <!--                                  [editorOptions]="editorOptions">-->
                    <!--                            <dxo-label text="{{ 'ATTACHEMENT.responsable' | translate }}"></dxo-label>-->
                    <!--                            <dxi-validation-rule type="required" message=""></dxi-validation-rule>-->
                    <!--                        </dxi-item>-->
                </dxi-item>
            </dx-form>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-between">
        <div>
            <button (click)="popupModifFileVisible=false;refresh()" class="btn btn-outline-secondary  mb-1 mr-1"
                    type="button">{{'close'|translate}}
            </button>
        </div>
        <div>
            <button type="button " class="btn btn-success" [disabled]="disableSave"
                    (click)="save(fileTemplate)">{{'accept'|translate}}
            </button>
        </div>
    </div>
</dx-popup>

<dx-popup
        [(visible)]="upladPopUP"
        [showTitle]="true"
        [closeOnOutsideClick]="false"
        [maxWidth]="'100%'"
        [width]="'30%'"
        [height]="'auto'"
        [maxHeight]="500"
        [dragEnabled]="false"
        resizeEnabled="true"
        (onHiding)="deletefileAttached()"
        (closeOnOutsideClickChange)="deletefileAttached()"
        title="{{'ATTACHEMENT.RemplacerFilePopup' | translate}}">
    <div>
        <dx-form
                [formData]="FileForm"
                labelMode="floating"
                stylingMode="filled"
                colCount="1"
        >
            <dxi-item itemType="group">
                <dxo-col-count-by-screen
                        [lg]="4">
                </dxo-col-count-by-screen>
                <dxi-item dataField="file" [template]="'PJ'" itemType="group" [colSpan]="3"
                          class="pad-0">
                    <dxi-validation-rule message=""></dxi-validation-rule>
                    <dxo-label text="File"></dxo-label>
                </dxi-item>

                <dxi-item dataField="file" [template]="'templateFile'" [colSpan]="1" class="pad-0">
                    <dxi-validation-rule message=""></dxi-validation-rule>
                    <dxo-label text="File"></dxo-label>
                </dxi-item>
            </dxi-item>
            <div *dxTemplate="let data of 'PJ'" class="PJ-style">
                <a *ngIf="fileName!=null && fileName != undefined && fileName !=''" class="PJ-filename-style ">
                    <a (click)="viewFileNotAdded()">{{fileName}}</a>
                    <span class="badge">
                    <a (click)="this.popupDeleteFileVisibleAttached = true" target="_blank"
                       title="{{ 'ATTACHEMENT.deletePJ' | translate }}">
                        <i class="fa fa-trash trash-style"></i>
                    </a>
                    </span>
                    <a>
                        <h6 *ngIf="this.sizeInput!=null && fileName!=null && fileName != undefined && fileName !=''">{{sizeInput}}</h6>
                    </a>
                </a>
            </div>
            <div *dxTemplate="let data of 'templateFile'" class="end-txt-align">
                <button type="button" class="btn btn-outline-warning mar-pad"
                        *ngIf="hasModelOfficeButton && listOfficeNotEmpty"
                        (click)="OfficeTemplatePopUpOpen()"
                        [disabled]="initofficeVisble()">
                    <i class='fas fa-file-contract icon-size'
                       title="{{ 'ATTACHEMENT.addModeleOffice' | translate }}"></i>
                </button>

                <button type="button" class="btn btn-outline-danger mar-pad " (click)="attached()"
                        title="{{ 'ATTACHEMENT.attachedFile' | translate }}">
                    <i class='fa fa-paperclip icon-size'></i>
                </button>

                <button type="button" class="btn btn-outline-primary mar-pad"
                        [disabled]="!pstkEnabledAndRunning && !this.authorizationTokenScan"
                        (click)="scanner_and_save()"
                        title="{{ 'ATTACHEMENT.scanner' | translate }}">
                    <i class="material-icons icon-size-mater">scanner</i>
                </button>
            </div>
        </dx-form>
        <input #input (change)="fileChange(input) ; input.value = null" class="file-upload-btn" hidden
               id="addfile{{this.idFileRemplace}}" type="file"/>
    </div>
    <br>
    <div class="d-flex justify-content-between">
        <div>
            <button (click)="deletefileAttached()" class="btn btn-outline-secondary  mb-1 mr-1"
                    type="button">{{ 'close' | translate }}
            </button>
        </div>
        <div>
            <button class="btn btn-success" (click)="attachementsSetContent()"
                    type="button" [disabled]="disableSave">{{ 'accept' | translate }}
            </button>
        </div>
    </div>
</dx-popup>

<dx-popup
        [(visible)]="popupDeleteFileVisibleAttached"
        [showTitle]="true"
        [closeOnOutsideClick]="true"
        [maxWidth]="'100%'"
        [width]="'20%'"
        [height]="'auto'"
        [maxHeight]="500"
        [dragEnabled]="false"
        resizeEnabled="true"
        (onHiding)="popupDeleteFileVisibleAttached=false"
        (closeOnOutsideClickChange)="popupDeleteFileVisibleAttached=false"
        title="{{ 'ATTACHEMENT.deletePopupStyle' | translate }}">
    <div>
        <p>{{ 'ATTACHEMENT.messageConfirmationDelete' | translate }}</p>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <button (click)="popupDeleteFileVisibleAttached=false" class="btn btn-outline-secondary  mb-1 mr-1"
                    type="button">{{ 'close' | translate }}
            </button>
        </div>
        <div>
            <button (click)="deletefileAttached()" class="btn btn-success"
                    type="submit">{{ 'accept' | translate }}
            </button>
        </div>
    </div>
</dx-popup>


<dx-popup
        [(visible)]="openOfficePopUp"
        [showTitle]="true"
        [closeOnOutsideClick]="true"
        [maxWidth]="'100%'"
        [width]="'55%'"
        [height]="'auto'"
        [maxHeight]="500"
        [dragEnabled]="false"
        resizeEnabled="true"
        (onHiding)="openOfficePopUp=false"
        (closeOnOutsideClickChange)="openOfficePopUp=false"
        class="mar-1"
        title="{{'ATTACHEMENT.Modele' | translate }}">
    <div class="row" *ngIf="  this.officeTemplateList==null">
        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 ">
            <div class="card border-0 shadow-0 h-100 position-relative" mdbScrollbar>
                <div class="card-body text-danger pad-0 ">
                    <div class="card-text">
                        <p class="note note-danger fw-light fs-6">
                            <strong>{{'ATTACHEMENT.avertissement' | translate }} : </strong>
                            {{'ATTACHEMENT.OfficeIndisp' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="  this.officeTemplateList ==null">
        <div class="d-flex justify-content-between">
            <div>

            </div>
            <div>
                <button (click)=" this.openOfficePopUp = false"
                        class="btn btn-outline-secondary  mb-1 mr-1"
                        type="button">{{ 'close' | translate }}
                </button>
            </div>
        </div>
    </div>
    <div class="row mar-1" *ngIf="  this.officeTemplateList!=null">
        <dx-data-grid
                [id]="this.packageName+'_'+'gridofficeTempalte'"
                #gridofficeTempalte
                [dataSource]="officeTemplateList"
                [width]="'99%'"

                [wordWrapEnabled]="true"

                [columnMinWidth]="26"
                [showRowLines]="true"


                [allowColumnReordering]="true"
                [height]="'auto'"
                [allowColumnResizing]="true"
                [columnAutoWidth]="true"
                [showBorders]="true"
                [rowAlternationEnabled]="true"
                [remoteOperations]="true"
                [hoverStateEnabled]="true"
                [rtlEnabled]="true"
                [showColumnLines]="false"
                (onToolbarPreparing)="onToolbarPreparing($event)"
        >
            <dxo-state-storing [enabled]="true" type="localStorage"
                               [storageKey]="this.packageName+'_'+'gridofficeTempalte'"></dxo-state-storing>
            <dxo-column-chooser title="{{ 'ATTACHEMENT.SelecteurColonnes' | translate }}"
                                [enabled]="true"></dxo-column-chooser>
            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
            <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-filter-row [visible]="false" applyFilter="false"></dxo-filter-row>
            <div *dxTemplate="let data of 'ExportPDF'">
                <dx-button id="exportButton" hint="{{ 'exportPDF' | translate }}" icon="exportpdf"
                           (onClick)="exportGridToPDF()">
                </dx-button>
            </div>
            <dxi-column caption="#" cellTemplate="cellTemplateIndex" dataType="number" width="26" [fixed]="true"
                        alignment="center"
                        [allowEditing]="true" [allowReordering]="false" [allowResizing]="true"></dxi-column>

            <dxi-column dataField="title"
                        caption="{{'title' | translate}}"
                        alignment="center"
                        width="150"
                        [allowEditing]="false"
                        [visible]="true"
                        [allowFiltering]="false"
                        [allowHeaderFiltering]="false"
                        [allowReordering]="false"
                        [allowResizing]="false">
            </dxi-column>

            <!--            <dxi-column dataField="alias"-->
            <!--                        caption="{{'alias' | translate}}"-->
            <!--                        alignment="center"-->
            <!--                        width="150"-->
            <!--                        [allowEditing]="false"-->
            <!--                        [visible]="true"-->
            <!--                        [allowFiltering]="false"-->
            <!--                        [allowHeaderFiltering]="false"-->
            <!--                        [allowReordering]="false"-->
            <!--                        [allowResizing]="false">-->
            <!--            </dxi-column>-->

            <dxi-column dataField="description"
                        caption="{{'description' | translate}}"
                        alignment="center"
                        [allowEditing]="false"
                        [visible]="true"
                        [allowFiltering]="false"
                        [allowHeaderFiltering]="false"
                        [allowReordering]="false"
                        [allowResizing]="false">
            </dxi-column>

            <dxi-column dataField="fileName"
                        caption="{{'ATTACHEMENT.fileName' | translate}}"
                        alignment="center"
                        width="150"
                        [allowEditing]="false"
                        [visible]="true"
                        [allowFiltering]="false"
                        [allowHeaderFiltering]="false"
                        [allowReordering]="false"
                        [allowResizing]="false">
            </dxi-column>
            <div *dxTemplate="let data of 'titreDataGrid'">
                <p class="styleTitreGridAtt">{{ 'ATTACHEMENT.Office' | translate }}</p>
            </div>
            <div *dxTemplate="let data of 'cellTemplateIndex'; ">
                {{data.rowIndex + 1}}
            </div>

            <dxi-column [allowEditing]="false" [allowHeaderFiltering]="false"
                        [visible]="false" caption="{{'syscreatedBy' | translate}}" dataField="syscreatedBy">
            </dxi-column>

            <dxi-column [allowEditing]="false" [allowHeaderFiltering]="true" [visible]="false" sortOrder="desc"
                        caption="{{'sysdateCreated' | translate}}" cellTemplate="cellTemplateSysdateCreated"
                        dataField="sysdateCreated" dataType="date">
            </dxi-column>

            <dxi-column [allowEditing]="false" [allowHeaderFiltering]="false"
                        [visible]="false" caption="{{'sysupdatedBy' | translate}}" dataField="sysupdatedBy">
            </dxi-column>

            <dxi-column [allowEditing]="false" [allowHeaderFiltering]="true" [visible]="true"
                        caption="{{'sysdateUpdated' | translate}}"
                        cellTemplate="cellTemplateSysdateUpdated" dataField="sysdateUpdated" dataType="date">
            </dxi-column>


            <div *dxTemplate="let data of 'cellTemplateSysdateCreated' ">
                <div *ngIf="data.data.sysdateCreated !== null && data.data.sysdateCreated !== undefined && data.data.sysdateCreated !== ''"> {{formatDate.formatDFTshort(data.data.sysdateCreated)}}</div>
            </div>

            <div *dxTemplate="let data of 'cellTemplateSysdateUpdated' ">
                <div *ngIf="data.data.sysdateUpdated !== null && data.data.sysdateUpdated !== undefined && data.data.sysdateUpdated !== ''"> {{formatDate.formatDFTshort(data.data.sysdateUpdated)}}</div>
            </div>


            <dxi-column caption="Action" cellTemplate="cellTemplateActions" [fixed]="true"
                        [allowResizing]="false"
                        fixedPosition="right" alignment="center"></dxi-column>

            <div *dxTemplate="let data of 'cellTemplateActions'" class="txt-center">
                <button type="button" class="btn btn-outline-primary"
                        (click)="officeTemplateAttach(data.data.title,this.classid, this.objectid)">
                    {{ 'ATTACHEMENT.select' | translate }}
                    <i [ngStyle]="{'color': data.data.filesTypeDTO.bgColor}"
                       class={{data.data.filesTypeDTO.icon}}
                       data-toggle="tooltip"
                    ></i>
                </button>

            </div>

        </dx-data-grid>


    </div>
</dx-popup>

<dx-load-panel
    #loadPanel
    [(visible)]="loadingVisible"
    [position]="{ of: '#positionLoadPanel' }"
    [shading]="true"
    [showIndicator]="true"
    [showPane]="true"
    shadingColor="rgba(0,0,0,0.4)">
</dx-load-panel>


