label[lang="ar"] {
  float: right;
  color: #37474f;
  display: block;
  //margin-right: 1%;
  //text-align: right;
  //font-size: medium;
}

input[type=text][lang="ar"], select {

  padding: 8px 20px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  direction: rtl;
  border-width: thin;
  width: 100% !important;


}

.action-icons {
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

:host(::ng-deep) .dx-widget .dx-button {
  color: white !important;
  padding-left: 1rem !important;
  //border-color: rgb(255, 152, 152) !important;
  //font-family: "Helvetica", Arial, sans-serif !important;
}