<form [formGroup]="domaineForm" class="row g-3 needs-validation" novalidate>
    <div class="col-md-6">
        <label for="nom" class="form-label">Nom:</label>
        <input class="form-control" formControlName="nom" id="nom" type="text" required>
    </div>

    <div class="col-md-6">
        <label for="adresse" class="form-label">Adresse:</label>
        <input class="form-control" formControlName="adresse" id="adresse" type="text" required>
    </div>

    <div class="col-md-6">
        <label for="telephone" class="form-label">Téléphone:</label>
        <input class="form-control" formControlName="telephne" id="telephne" type="tel">
    </div>

    <div class="col-md-6">
        <label for="email" class="form-label">Email:</label>
        <input class="form-control" formControlName="email" id="email" type="email">
    </div>


    <div class="col-md-6">
        <label for="dateInscription" class="form-label">Date Inscription:</label>
        <input class="form-control" formControlName="dateInscription" id="dateInscription"  type="date">
    </div>

    <div class="col-md-6">
        <label for="typeClient" class="form-label">Type Client:</label>
        <input class="form-control" formControlName="typeClient" id="typeClient" type="text">
    </div>

    <div class="col-md-6">
        <label for="notes" class="form-label">Notes:</label>
        <input class="form-control" formControlName="notes" id="notes" type="text">
    </div>
    <div class="col-md-6">
        <label for="description" class="form-label">Description:</label>
        <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
    </div>

    <div class="col-12">
        <div class="d-grid gap-2 d-md-flex justify-content-md-between">
            <button (click)="Return()" class="btn btn-light" type="button">Cancel</button>
            <button (click)="onSubmit()" class="btn btn-success" type="submit">Save</button>
        </div>
    </div>
</form>
