<form [formGroup]="domaineForm" class="row g-3 needs-validation" novalidate>
    <div class="col-md-6">
        <label for="nom" class="form-label">Nom:</label>
        <input class="form-control" formControlName="nom" id="nom" type="text" required>
        <div *ngIf="domaineForm.get('nom').invalid && (domaineForm.get('nom').dirty || domaineForm.get('nom').touched)"
             class="alert alert-danger">
            <div *ngIf="domaineForm.get('nom').errors.required">
                Nom is required.
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <label for="adresse" class="form-label">Adresse:</label>
        <input class="form-control" formControlName="adresse" id="adresse" type="text" required>
        <div *ngIf="domaineForm.get('adresse').invalid && (domaineForm.get('adresse').dirty || domaineForm.get('adresse').touched)"
             class="alert alert-danger">
            <div *ngIf="domaineForm.get('adresse').errors.required">
                Adresse is required.
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <label for="pays" class="form-label">Pays:</label>
        <select class="form-select" formControlName="pays" id="pays">
            <option *ngFor="let country of countries" [value]="country.code">{{ country.name }}</option>
        </select>
        <div *ngIf="domaineForm.get('pays').invalid && (domaineForm.get('pays').dirty || domaineForm.get('pays').touched)"
             class="alert alert-danger">
            <div *ngIf="domaineForm.get('pays').errors.required">
                Pays is required.
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <label for="telephne" class="form-label">Téléphone:</label>
        <input class="form-control" formControlName="telephne" id="telephne" type="tel">
        <div *ngIf="domaineForm.get('telephne').invalid && (domaineForm.get('telephne').dirty || domaineForm.get('telephne').touched)"
             class="alert alert-danger">
            <div *ngIf="domaineForm.get('telephne').errors.required">
                telephne is required.
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <label for="email" class="form-label">Email:</label>
        <input class="form-control" formControlName="email" id="email" type="email">
        <div *ngIf="domaineForm.get('email').invalid && (domaineForm.get('email').dirty || domaineForm.get('email').touched)"
             class="alert alert-danger">
            <div *ngIf="domaineForm.get('email').errors.required">
                email is required.
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <label for="dateInscription" class="form-label">Date Inscription:</label>
        <input class="form-control" formControlName="dateInscription" id="dateInscription"  type="date">
    </div>

    <div class="col-md-6">
        <label for="typeClient" class="form-label">Type Client:</label>
        <select class="form-select" formControlName="typeClient" id="typeClient">
            <option value="individuel">Client individuel</option>
            <option value="occasionnel">Client occasionnel</option>
            <option value="segmenté">Client segmenté</option>
        </select>
    </div>

    <div class="col-md-6">
        <label for="notes" class="form-label">Notes:</label>
        <input class="form-control" formControlName="notes" id="notes" type="text">
    </div>
    <div class="col-md-6">
        <label for="description" class="form-label">Description:</label>
        <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
    </div>

    <div class="col-12">
        <div class="d-grid gap-2 d-md-flex justify-content-md-between">
            <button (click)="Return()" class="btn btn-light" type="button">Cancel</button>
            <button (click)="onSubmit()" class="btn btn-success" type="submit">Save</button>
        </div>
    </div>
</form>
