<form [formGroup]="domaineForm" class="form-outline row g-2 needs-validation" novalidate>
    <div class="row">
        <div  >
            <mdb-form-control>
                <label for="nom">Nom:</label>
                <input class="form-control" formControlName="nom" id="nom" mdbInput mdbValidate  type="text" />
            </mdb-form-control>

            <mdb-form-control>
                <label for="adresse">Adresse:</label>
                <input class="form-control" formControlName="adresse" id="adresse" mdbInput mdbValidate  type="text" />
            </mdb-form-control>

            <mdb-form-control>
                <label for="email">Email:</label>
                <input class="form-control" formControlName="email" id="email" mdbInput mdbValidate  type="text" />
            </mdb-form-control>

            <mdb-form-control>
                <label for="description">Description:</label>
                <input class="form-control" formControlName="description" id="description" mdbInput mdbValidate  type="text" />
            </mdb-form-control>

            <mdb-form-control>
                <label for="typeClient">Type Client:</label>
                <input class="form-control" formControlName="typeClient" id="typeClient" mdbInput mdbValidate  type="text" />
            </mdb-form-control>

            <mdb-form-control>
                <label for="notes">Notes:</label>
                <input class="form-control" formControlName="notes" id="notes" mdbInput mdbValidate  type="text" />
            </mdb-form-control>

        </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-between">
        <button (click)="Return()" class="btn btn-light" type="button" style="background: #6e7271;color: white">
            Cancel </button>
        <button (click)="onSubmit()" class="btn btn-success me-md-2" type="submit"> Save </button>
    </div>
</form>
