<app-http-services></app-http-services>


<div *ngIf="(GetPermession() || !isPublic)">
    <div *ngIf="attachements">


        <app-data-grid-attachments
                [classid]="classid"
                [objectid]="objectid"
                [flipped]="ModeGridVsThumbnail"
                [objectData]="objectData"
                [attachements]="attachements"
                [ContainerViewer]="!ContainerViewer"
                [ReadOnly]="ReadOnly"
                [Refresh]="refreshedReqFileDef2"
                (newFile)="refreshDataGrid($event)"
                (filppedout)="changeFlipped($event)"
                (ouvrirPopUpSave)="ouvrirPopUpSave($event)"
                (jsondocviewerEventFromGrid)="jsondocviewerEventFunctionAttatchment($event)"
                (FileDeletedToAddToremaingFileDefPopup)="RecalFileTodelete($event)"
                [levelMin]="levelMin"
                [showSplliter]="ShowSplitter"
                [canAddfileDatagrid]="canAddfileDatagrid"
                [canDelete]="canDeleteDatagrid"
                [canlock]="canlockDatagrid"
                [canUploadfile]="canUploadfileDatagrid"
                [canTransfert]="canTransfertDatagrid"
                [canActionPDF]="canActionPDFDatagrid"
                [canClone]="canCloneDatagrid"
                [canDonwloadfile]="canDonwloadfileDatagrid"
                [canModiffile]="canModiffileDatagrid"
                [canShowfile]="canShowfileDatagrid"

                [archiveButtonVisible]="archiveButtonVisible"
                [flipedDatagridButtonVisible]="flipedDatagridButtonVisible"


                [visibleCellIndex]="visibleCellIndex"
                [visibleCellId]="visibleCellId"
                [visibleCellFileType]="visibleCellFileType"
                [visibleCelldocTitle]="visibleCelldocTitle"
                [visibleCellfileName]="visibleCellfileName"
                [visibleCelldocId]="visibleCelldocId"
                [visibleCelldocIssueDate]="visibleCelldocIssueDate"
                [visibleCelldocExpirationDate]="visibleCelldocExpirationDate"
                [visibleCellissueAdress]="visibleCellissueAdress"
                [visibleCelldocSize]="visibleCelldocSize"
                [visibleCellsysdateUpdated]="visibleCellsysdateUpdated"
                [visibleCellResponsable]="visibleCellResponsable"
                [visibleCellsecuriteLevel]="visibleCellsecuriteLevel"
                [visibleCellSignedOrLockedState]="visibleCellSignedOrLockedState"
                [fileAccessToken]="fileAccessToken"
                [listOfficeNotEmpty]="listOfficeNotEmpty"

                [authorizationTokenOffice]="authorizationTokenOffice"

        >
        </app-data-grid-attachments>


    </div>
</div>


<dx-popup
        [(visible)]="popUpSave"
        [showTitle]="true"
        [closeOnOutsideClick]="false"
        [width]="'50%'"
        [height]="'auto'"
        [dragEnabled]="false"
        [showCloseButton]="true"
        rtlEnabled="true"
        resizeEnabled="true"
        title="{{ 'otherDocuments.filedetails' | translate }}"

>
    <div class="d-flex row"
         *ngIf="!ContainerViewer">
        <!--card of req file definition !! -->
        <div *ngFor="let file of requestFileDef" style="width: 355px;padding: 0% 0% 0% 2%;">
            <app-template-attachment
                    [classid]="classid"
                    [objectid]="objectid"
                    [objectData]="objectData"
                    [attachements]="attachements"
                    [fileTemplate]="file"
                    [isPublic]="isPublic"
                    (newFile)="refreshDataGrid($event)"
                    [fileAccessToken]="fileAccessToken"
                    [listOfficeNotEmpty]="listOfficeNotEmpty"

                    [authorizationTokenScan]="authorizationTokenScan"
            >

            </app-template-attachment>
        </div>
    </div>
</dx-popup>
