
<dx-popup
        [maxWidth]="940"
        [width]="900"
        [height]="'auto'"
        [showTitle]="true"
        title="Ajouter Demande"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupAdd">

    <app-add-demande [id]="" (add)="add($event)"></app-add-demande>
</dx-popup>
<dx-popup
        [maxWidth]="940"
        [width]="900"
        [height]="'auto'"
        [showTitle]="true"
        title=" edit client"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupEdit">

    <app-add-demande *ngIf="this.id" [id]="''+this.id" (add)="add($event)"></app-add-demande>
</dx-popup>
<dx-data-grid
    #dataGridDemande
        [showBorders]="true"
        [allowColumnResizing]="true"
        id="gridContainer"
    (onToolbarPreparing)="onToolbarPreparing($event)"
        [columnAutoWidth]="true"
        [dataSource]="dataSourceElement"
        [remoteOperations]="{filtering: false, grouping: false, sorting: false, paging: true}"
    [rowAlternationEnabled]="true"
    [showColumnLines]="true"
    (onRowDblClick)="Editclient($event)"
    (onContentReady)="onDataGridContentReady($event)"
        keyExpr="id"
    id="dataGridDemande"
    class="dataGridDemande"
>


    <dxo-scrolling rowRenderingMode="virtual"></dxo-scrolling>
    <dxo-paging [pageSize]="pageSize" [pageIndex]="0"></dxo-paging>
    <dxi-column dataField="nom" dataType="string"></dxi-column>
    <dxi-column dataField="statut" dataType="string"></dxi-column>

    <dxi-column dataField="description" dataType="string"></dxi-column>
    <dxi-column dataField=" dateDeCreation" dataType="date"></dxi-column>
    <dxi-column [allowResizing]="false"
                [fixed]="false" caption="{{'' | translate}}"
                cellTemplate="cellTemplateActions"
    >
    </dxi-column>
    <div *dxTemplate="let data of 'cellTemplateActions'"
         style="display: flex; justify-content: center; align-items: center;">
        <a (click)="deletedemande(data.data.id)" target="_blank" rel="noopener" title="" >
            <i class="fa fa-trash" style="color:#a63a3a;">
            </i></a>
    </div>
    <dxo-pager
            [allowedPageSizes]="allowedPageSizes"
            [showInfo]="true"
            [showPageSizeSelector]="true"
            [visible]="true"
            displayMode="full"
            [showNavigationButtons]="true"
    ></dxo-pager>


</dx-data-grid>
