<div id="list-demo">
    <div class="widget-container">
        <div class="col-md-6">
            <div class="p-2 border border-1 position-relative d-block ml-1 border-fieldset"
            >

                <fieldset style="height: 18vh !important;">
                    <legend class="position-absolute top-0 bg-white d-flex size-legend-insideCourrier fieldset-custom-label">
                        &nbsp;<i class="fa fa-reorder"></i>&nbsp;{{ 'ATTACHEMENT.Titlegrid' | translate }} à envoyer&nbsp;
                    </legend>
                    <dx-list [dataSource]="filedataToSend" keyExpr="id">
                        <dxo-item-dragging
                                group="tasks"
                                [data]="filedataToSend"
                                [allowReordering]="true"
                                [onDragStart]="onDragStart"
                                [onAdd]="onAdd"
                                [onRemove]="onRemove"
                        >
                        </dxo-item-dragging>
                    </dx-list>
                </fieldset>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-2 border border-1 position-relative d-block ml-1 border-fieldset"
            >
                <fieldset style="height: 18vh !important;">
                    <legend class="position-absolute top-0 bg-white d-flex size-legend-insideCourrier fieldset-custom-label">
                        &nbsp;<i class="fa fa-reorder"></i>&nbsp;{{ 'ATTACHEMENT.Titlegrid' | translate }} disponibles&nbsp;
                    </legend>
                    <dx-list [dataSource]="filedatasource" keyExpr="id">
                        <dxo-item-dragging
                                group="tasks"
                                [data]="filedatasource"
                                [allowReordering]="true"
                                [onDragStart]="onDragStart"
                                [onAdd]="onAdd"
                                [onRemove]="onRemove"
                        >
                        </dxo-item-dragging>
                    </dx-list>
                </fieldset>


            </div>
        </div>
    </div>
</div>
