

<dx-data-grid
    #dataGridProjet
    [showBorders]="true"
    [allowColumnResizing]="true"
    id="gridContainer"
    (onToolbarPreparing)="onToolbarPreparing($event)"
    [columnAutoWidth]="true"
    [dataSource]="dataSourceElement"
    [remoteOperations]="{filtering: false, grouping: false, sorting: false, paging: true}"
    [rowAlternationEnabled]="false"
    [showColumnLines]="true"
    (onRowDblClick)="Editprojet($event)"

    keyExpr="id"
    id="dataGridProjet"
    class="dataGridProjet"
>


    <dxo-scrolling rowRenderingMode="virtual"></dxo-scrolling>
    <dxo-paging [pageSize]="pageSize" [pageIndex]="0"></dxo-paging>


    <dxi-column dataField="nom" dataType="string"></dxi-column>
    <dxi-column dataField="responsable" dataType="string"></dxi-column>
    <dxi-column dataField="participants" dataType="string"></dxi-column>

    <dxi-column dataField="type" dataType="string"></dxi-column>
    <dxi-column dataField="commentaires" dataType="string"></dxi-column>
    <dxi-column dataField="lienJira" dataType="string" cellTemplate="linkTemplate"></dxi-column>
<!--    <dxi-column dataField="idJira" dataType="string"></dxi-column>-->

<!--    <dxi-column dataField="priorite" dataType="number"></dxi-column>-->
<!--    <dxi-column dataField="budget" dataType="number"></dxi-column>-->

<!--    <dxi-column dataField="description" dataType="string"></dxi-column>-->
<!--    <dxi-column dataField="dateDebut" dataType="date"></dxi-column>-->
<!--    <dxi-column dataField="dateFin" dataType="date"></dxi-column>-->
<!--    <dxi-column dataField="derniereMiseAJour" dataType="date"></dxi-column>-->


    <dxi-column [allowResizing]="false"
                [fixed]="false" caption="{{'' | translate}}"
                cellTemplate="cellTemplateActions"
    >
    </dxi-column>
    <div *dxTemplate="let data of 'cellTemplateActions'"
         style="display: flex; justify-content: center; align-items: center;">
        <a (click)="showbordereaux(data.data.id)" target="_blank"
           title="Consulter demande"><i
                class="fa fa-edit eyeIconStyle"></i></a>&nbsp;

        <a (click)="popupDelete(data.data.id)" target="_blank"   title="" >
            <i class="fa fa-trash" style="color:#a63a3a;">
            </i></a>
    </div>
    <div *dxTemplate="let data of 'ExportPDF'">
        <dx-button (onClick)="exportGrid()" hint="{{ 'exportPDF' | translate }}" icon="exportpdf"
                   id="exportButton"></dx-button>
    </div>

    <div *dxTemplate="let data of 'linkTemplate'">
        <a [href]="data.data.lienJira" target="_blank">{{data.data.lienJira}}</a>
    </div>
    <dxo-pager
            [allowedPageSizes]="allowedPageSizes"
            [showInfo]="true"
            [showPageSizeSelector]="true"
            [visible]="true"
            displayMode="full"
            [showNavigationButtons]="true"
    ></dxo-pager>



</dx-data-grid>
<!-- Define the custom template for the lienJira column -->
<!-- Define the custom template for the lienJira column -->

<dx-popup
        [maxWidth]="940"
        [width]="500"
        [height]="'auto'"
        [showTitle]="true"
        title="Confirmation de la suppression"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupDeleteVisible">
    <div>
        <p> Êtes-vous sûr de vouloir supprimer cet élément ? </p>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <button type="button" class="btn btn-outline-secondary me-md-2"
                    (click)="fermerPopup()">Annuler
            </button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 alignRight">
            <button type="submit" class="btn btn-success me-md-2"
                    (click)="deleteprojet()">Confirmer
            </button>
        </div>
    </div>
</dx-popup>