.disabled {
  pointer-events: none;
  cursor: default;
}

.nav-link.active {
  color: #0096a6 !important;
  background-color: #fff ;
  border-color: #e0e0e0 #e0e0e0 #0096a6 !important;
}
.nav-tabs {
  border-bottom: 1px solid #ffffff !important;
}
.tab-content {
  position: relative;
  z-index: 1;
  border: 1px solid #0096a6 !important;
  background: #fff;
}

.center {
  text-align: center;

}


.toast-success {
  padding-left: 80px;
  text-align: center;
  background: #0096a6 35% !important;
}
.buttonGroup1{
  // add margin beetwen button
    margin-right: 10px !important;
  border: 1px solid #0096a6 !important;


}



