<!-- Tabs navs -->
<dx-popup
        [maxWidth]="940"
        [width]="900"
        [height]="'auto'"
        [showTitle]="true"
        title="Créer une opportunité"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="showModal">

    <p>Voulez-vous créer une opportunité pour cette demande ?</p>
    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
    <button
            class="btn btn-secondary"
            (click)="onCancelClick()">Annuler</button> </div>
    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 alignRight">
    <button
            class="btn btn-primary"
            (click)="onCreateOpportunityClick()">Créer Opportunité</button></div>
    </div>
</dx-popup>
<ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
        <a
                data-mdb-tab-init
                class="nav-link {{ pourvalidation ? 'active' : '' }}"
                id="ex3-tab-1"
                href="#ex3-tabs-1"
                role="tab"
                aria-controls="ex3-tabs-1"
                aria-selected="true"
                [class.disabled]="!pourvalidation"
        >Creation Demande</a
        >
    </li>
    <li class="nav-item" role="presentation">
        <a
                data-mdb-tab-init
                class="nav-link {{ pourvalidation2 ? 'active' : '' }}"
                id="ex3-tab-2"
                href="#ex3-tabs-2"
                role="tab"
                aria-controls="ex3-tabs-2"
                aria-selected="false"
                [class.disabled]="!pourvalidation2"
        >Validation Demande</a
        >
    </li>
    <li class="nav-item" role="presentation">
        <a
                data-mdb-tab-init
                class="nav-link {{ elsedesision ? 'active' : '' }}"
                id="ex3-tab-3"
                href="#ex3-tabs-3"
                role="tab"
                aria-controls="ex3-tabs-3"
                aria-selected="false"
                [class.disabled]="!elsedesision"
        >Modification Demande</a
        >
    </li>

</ul>
<!-- Tabs navs -->

<!-- Tabs content -->
<div class="tab-content" id="ex2-content">
    <!-- acctiver when verification is true-->
    <div
            class="tab-pane fade {{ pourvalidation ? 'show active' : '' }}"
            id="ex3-tabs-1"
            role="tabpanel"
            aria-labelledby="ex3-tab-1"
            *ngIf="pourvalidation"
    >
        <form  [formGroup]="demandeF"  method="post" novalidate>
            <div class="form-group">
                <label>Nom:</label>
                <input type="text" formControlName="nom"  class="form-control" required>
            </div>
            <div class="form-group">
                <label>Client</label>
                <select #clientSelect class="form-select" >
                    <option *ngFor="let client of clients" [value]="client.id">{{ client.nom }}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Statut:</label>
                <select class="form-select" formControlName="statut" >
                    <option *ngFor="let status of statusList" [value]="status">{{ status }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Source de la demande</label>

                <select class="form-select" formControlName="source" id="sourceDemande">
                    <option value="email">Email</option>
                    <option value="telephone">Téléphone</option>
                    <option value="siteWeb">Site Web</option>

                </select>
            </div>
            <div class="form-group">
                <label for="deadline" class="form-label">Date de deadline:</label>
                <input class="form-control" formControlName="deadline"  type="date">
            </div>
            <div class="form-group">
                <label>Description:</label>
                <textarea class="form-control" formControlName="description"  rows="5" cols="30" required></textarea>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Select Equipe</div>
                <div class="dx-field-value">
                    <dx-drop-down-box
                            [(value)]="gridBoxValue"
                            [inputAttr]="{ 'aria-label': 'Owner' }"
                            valueExpr="ID"
                            displayExpr="nom"
                            placeholder="Select a value..."
                            [showClearButton]="true"
                            [dataSource]="cats"
                    >
                        <div *dxTemplate="let data of 'content'">
                            <dx-data-grid
                                    [dataSource]="cats"
                                    [columns]="['nom']"
                                    [selection]="{ mode: 'multiple' }"
                                    [hoverStateEnabled]="true"
                                    [paging]="{ enabled: true, pageSize: 10 }"
                                    [filterRow]="{ visible: true }"
                                    [scrolling]="{ mode: 'virtual' }"
                                    [height]="345"
                                    [(selectedRowKeys)]="gridBoxValue"
                            >
                            </dx-data-grid>
                        </div>
                    </dx-drop-down-box>
                </div>
            </div>
            <div class="workflow-container">
                <app-workflow-decision
                        *ngIf="demandeForm &&(demandeForm['workflow']!=undefined ||!(this.demandeForm.userPermission == 'WRITE')) "
                        (decisionEvent)="Confirmation($event)"
                        (saveEvent)="save()"
                        (RetournEvent)="Retourn()"
                        [access]="demandeForm['userPermission'] === 'READ' || demandeForm['userPermission'] === 'NONE'"
                        [decisions]="decissionWF"
                        [object]="demandeForm"
                        [SaveObject]="demandeForm">
                </app-workflow-decision>

            </div>

        </form>

    </div>
    <div
            class="tab-pane fade {{ pourvalidation2 ? 'show active' : '' }}"
            id="ex3-tabs-2"
            role="tabpanel"
            aria-labelledby="ex3-tab-2"
            *ngIf="pourvalidation2"
    >
        <form  [formGroup]="demandeF"  method="post" novalidate>
            <div class="form-group">
                <label>Nom:</label>
                <input type="text" formControlName="nom" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Client</label>
                <select #clientSelect class="form-control"  >
                    <option *ngFor="let client of clients" [value]="client.id">{{ client.nom }}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Statut:</label>
                <select class="form-control" formControlName="statut" >
                    <option *ngFor="let status of statusList" [value]="status">{{ status }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Source de la demande</label>
                <input class="form-control" formControlName="source" type="text" >
            </div>
            <div class="form-group">
                <label for="deadline" class="form-label">Date de deadline:</label>
                <input class="form-control"  type="date">
            </div>
            <div class="form-group">
                <label>Description:</label>
                <textarea class="form-control" formControlName="description"  rows="5" cols="30" required></textarea>
            </div>

            <div class="workflow-container">
                <app-workflow-decision
                        *ngIf="demandeForm &&(demandeForm['workflow']!=undefined ||!(this.demandeForm.userPermission == 'WRITE')) "
                        (decisionEvent)="Confirmation($event)"
                        (saveEvent)="save()"
                        (RetournEvent)="Retourn()"
                        [access]="demandeForm['userPermission'] === 'READ' || demandeForm['userPermission'] === 'NONE'"
                        [decisions]="decissionWF"
                        [object]="demandeForm"
                        [SaveObject]="demandeForm">
                </app-workflow-decision>

            </div>

        </form>

    </div>
    <div
            class="tab-pane fade {{ elsedesision ? 'show active' : '' }}"
            id="ex3-tabs-3"
            role="tabpanel"
            aria-labelledby="ex3-tab-3"
            *ngIf="elsedesision"
    >

        <form  [formGroup]="demandeF" id="basic-form" method="post" novalidate>
            <div class="form-group">
                <label>Nom:</label>
                <input type="text" formControlName="nom" id="nom" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Client</label>
                <select #clientSelect class="form-control" id="client" >
                    <option *ngFor="let client of clients" [value]="client.id">{{ client.nom }}</option>
                </select>
            </div>


            <div class="form-group">
                <label>Statut:</label>
                <select class="form-control" formControlName="statut" id="statut">
                    <option *ngFor="let status of statusList" [value]="status">{{ status }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Source de la demande</label>
                <input class="form-control" formControlName="source" id="source" type="text" >
            </div>
            <div class="form-group">
                <label for="deadline" class="form-label">Date de deadline:</label>
                <input class="form-control"  id="deadline" type="date">
            </div>
            <div class="form-group">
                <label>Description:</label>
                <textarea class="form-control" formControlName="description"  rows="5" cols="30" required></textarea>
            </div>

            <div class="workflow-container">
                <app-workflow-decision
                        *ngIf="demandeForm &&(demandeForm['workflow']!=undefined ||!(this.demandeForm.userPermission == 'WRITE')) "
                        (decisionEvent)="Confirmation($event)"
                        (saveEvent)="save()"
                        (RetournEvent)="Retourn()"
                        [access]="demandeForm['userPermission'] === 'READ' || demandeForm['userPermission'] === 'NONE'"
                        [decisions]="decissionWF"
                        [object]="demandeForm"
                        [SaveObject]="demandeForm">
                </app-workflow-decision>

            </div>

        </form>


    </div>

</div>
