.disabled {
  pointer-events: none;
  cursor: default;
}

.nav-link.active {
  color: #0096a6 !important;
  background-color: #fff ;
  border-color: #e0e0e0 #e0e0e0 #0096a6 !important;
}
.nav-tabs {
  border-bottom: 1px solid #ffffff !important;
}
.tab-content {
  position: relative;
  z-index: 1;
  border: 1px solid #0096a6 !important;
  background: #fff;
}

.center {
  text-align: center;

}


.toast-success {
  padding-left: 80px;
  text-align: center;
  background: #0096a6 35% !important;
}
.buttonGroup1{
  // add margin beetwen button
    margin-right: 10px !important;
  border: 1px solid #0096a6 !important;


}

// controle saisie

.text-danger {
  color: red;
}
// popup
/* Style for the popup */
.dx-popup {
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.dx-popup-title {
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px 15px;
}

.dx-popup-content {
  padding: 20px;
}

.dx-popup .row {
  margin-top: 20px;
}

.dx-popup .btn {
  margin: 10px 0;
}

.alignRight {
  text-align: right;
}



// mic
.textarea-container {
  position: relative;
}

.textarea-container textarea {
  width: 100%;
  padding-right: 40px; /* Adjust this value as needed */
}

.textarea-container i {
  position: absolute;
  top: 10px; /* Adjust this value as needed to position vertically */
  right: 10px; /* Adjust this value as needed to position horizontally */
  cursor: pointer;
}
