<div class="dashboard-summary">
    <div class="summary-item">
        <div class="summary-icon">
            <i class="fas fa-user"></i>
        </div>
        <div class="summary-details">
            <div class="summary-number">52552</div>
            <div class="summary-label">Clients</div>
        </div>
    </div>
    <div class="summary-item">
        <div class="summary-icon">
            <i class="fas fa-file-alt"></i>
        </div>
        <div class="summary-details">
            <div class="summary-number">525252</div>
            <div class="summary-label">Factures</div>
        </div>
    </div>
    <div class="summary-item">
        <div class="summary-icon">
            <i class="fas fa-dollar-sign"></i>
        </div>
        <div class="summary-details">
            <div class="summary-number">$2.46k</div>
            <div class="summary-label">Payé</div>
        </div>
    </div>
    <div class="summary-item">
        <div class="summary-icon">
            <i class="fas fa-exclamation-circle"></i>
        </div>
        <div class="summary-details">
            <div class="summary-number">$876</div>
            <div class="summary-label">Non payé</div>
        </div>
    </div>
</div>

<br>
<br>
<br>


<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md">
            <dx-pie-chart
                    id="pie"
                    title="Demande par Categorie"
                    palette="bright"
                    [dataSource]="areas"
                    (onPointClick)="pointClickHandler($event)"
                    (onLegendClick)="legendClickHandler($event)"
            >
                <dxi-series argumentField="country" valueField="area">
                    <dxo-label [visible]="true">
                        <dxo-connector [visible]="true" [width]="1"></dxo-connector>
                    </dxo-label>
                </dxi-series>
                <dxo-size [width]="500"></dxo-size>
                <dxo-export [enabled]="true"></dxo-export>
            </dx-pie-chart>


        </div>
        <div class="col-md">
            <dx-chart
                    [dataSource]="monthlyOffreCounts"
                    title="Nombre total d'offres de prix par mois">
                <dxi-series
                        argumentField="month"
                        valueField="count"
                        name="Offres"
                        type="bar"
                        color="#ffaa66">
                </dxi-series>
                <dxo-argument-axis>
                    <dxi-label [customizeText]="customizeLabel"></dxi-label>
                </dxo-argument-axis>
                <dxo-value-axis>
                    <dxo-label [customizeText]="customizeValueLabel"></dxo-label>
                </dxo-value-axis>
            </dx-chart>

        </div>
        <div class="col-md">
            One of three columns
        </div>
    </div>
</div>
<app-maps></app-maps>