<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytical Dashboard</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="dashboard-summary">
    <div class="summary-item">
        <div class="summary-icon">
            <i class="fas fa-user"></i>
        </div>
        <div class="summary-details">
            <div class="summary-number">{{nbredemande}}</div>
            <div class="summary-label">Demandes</div>
        </div>
    </div>
    <div class="summary-item">
        <div class="summary-icon">
            <i class="fas fa-file-alt"></i>
        </div>
        <div class="summary-details">
            <div class="summary-number">{{nbrebC}}</div>
            <div class="summary-label">Bon de commande</div>
        </div>
    </div>
    <div class="summary-item">
        <div class="summary-icon">
            <i class="fas fa-dollar-sign"></i>
        </div>
        <div class="summary-details">
            <div class="summary-number">$2.46k</div>
            <div class="summary-label">Payé</div>
        </div>
    </div>
    <div class="summary-item">
        <div class="summary-icon">
            <i class="fas fa-exclamation-circle"></i>
        </div>
        <div class="summary-details">
            <div class="summary-number">$876</div>
            <div class="summary-label">Non payé</div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="chart-container">
                <dx-pie-chart
                        id="pie"
                        title="Demande par Categorie"
                        palette="bright"
                        [dataSource]="areas"
                        (onPointClick)="pointClickHandler($event)"
                        (onLegendClick)="legendClickHandler($event)"
                >
                    <dxi-series argumentField="country" valueField="area">
                        <dxo-label [visible]="true">
                            <dxo-connector [visible]="true" [width]="1"></dxo-connector>
                        </dxo-label>
                    </dxi-series>
                    <dxo-size [width]="500"></dxo-size>
                    <dxo-export [enabled]="true"></dxo-export>
                </dx-pie-chart>
            </div>
        </div>
        <div class="col-md">
            <div class="chart-container">
                <dx-chart
                        [dataSource]="monthlyOffreCounts"
                        title="Nombre total d'offres de prix par mois"
                >
                    <dxi-series
                            argumentField="month"
                            valueField="count"
                            name="Offres"
                            type="bar"
                            color="#ffaa66"
                    >
                    </dxi-series>
                    <dxo-argument-axis>
                        <dxi-label [customizeText]="customizeLabel"></dxi-label>
                    </dxo-argument-axis>
                    <dxo-value-axis>
                        <dxo-label [customizeText]="customizeValueLabel"></dxo-label>
                    </dxo-value-axis>
                </dx-chart>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="chart-container">
                <app-maps></app-maps>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="scripts.js"></script>
</body>
</html>
