::ng-deep .rect {
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  height:100px !important;
}

::ng-deep .demo-light {

}

::ng-deep .demo-dark {


}

::ng-deep .demo-dark.header {

}

::ng-deep .demo-dark.footer {
  background: rgba(123, 155, 207, 0.5);
}

::ng-deep .small {
  height: 50px;
  border: 1px solid lightgray;
}
//card
.card {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  max-width: 320px;
  border-radius: 20px;
}

.title {
  display: flex;
  align-items: center;
}

.title span {
  position: relative;
  padding: 0.5rem;
  background-color: #10B981;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
}

.title span svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  height: 1rem;
}

.title-text {
  margin-left: 0.5rem;
  color: #374151;
  font-size: 18px;
}

.percent {
  margin-left: 0.5rem;
  color: #02972f;
  font-weight: 600;
  display: flex;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.data p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #1F2937;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: left;
}

.data .range {
  position: relative;
  background-color: #E5E7EB;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.25rem;
}

.data .range .fill {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #10B981;
  width: 76%;
  height: 100%;
  border-radius: 0.25rem;
}
//tetetettetete
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.dashboard-summary {
  display: flex;
  justify-content: space-around;
  background-color: #f9fafb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  .summary-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 250px;
    height: 70px;

    .summary-icon {
      font-size: 30px;
      color: #40B3A2;
      margin-right: 15px;
    }

    .summary-details {
      .summary-number {
        font-size: 24px;
        font-weight: 300;
        color: #111827;
      }

      .summary-label {
        font-size: 16px;
        color: #6b7280;
      }
    }
  }
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .col-md {
    flex: 1;
    margin: 0 10px;
  }
}

.chart-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

