<!-- Tabs navs -->

<!-- Tabs content -->

<div>
    <!--        <div  class="card-header text-center bg-secondary  text-white" style="background-color: #242f50 !important;">-->
    <!--            <h5> {{'caseRequest.TitleRqEdit'|translate}} ({{demandeForm.requestCaseNumber}})</h5>-->
    <!--        </div>-->
    <div>
        <div class="card-header text-center bg-secondary  text-white" style="background-color: #0096a6  !important;">
            <div class="col-md-12" style="text-align: center;" *ngIf="objectData!=undefined">
                <h5> edit bon de commande ({{objectData.id}})</h5>


            </div>
            <div style="" >
                <a (click)="showPopupWF()" rel="noopener" target="_blank" title="">
                    <div class="icon-container"  title="{{'show-event.Voir la liste des événements' | translate}}">
                        <i class="fas fa-project-diagram"></i>
                    </div>
                </a>
            </div>




        </div>
    </div>
</div>

<div class="tab-content" id="ex2-content">
    <!-- acctiver when verification is true-->
    <div
            class="tab-pane fade {{ verification ? 'show active' : '' }}"
            id="ex3-tabs-1"
            role="tabpanel"
            aria-labelledby="ex3-tab-1"
            *ngIf="verification"
    >
        <form  [formGroup]="demandeF"  method="post" novalidate>
            <div class="form-group">
                <label>Service commandé:</label>
                <input type="text" formControlName="servicecommande" id="servicecommande" class="form-control" required>
            </div>


            <div class="form-group">
                <label>Statut:</label>
                <select class="form-control"  id="statut">
                    <option *ngFor="let status of statusList" [value]="status">{{ status }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Methode de paiement</label>

                <select formControlName="methodedepaiement" class="form-control">
                    <option value="carte">Carte de crédit</option>
                    <option value="virement">Virement bancaire</option>

                    <option value="espece">Espèces</option>
                    <option value="cheque">Chèque</option>
                </select>
            </div>
            <div class="form-group">
                <label>Offre </label>
<!-- list offre-->
                <select #selected class="form-control">
                    <option *ngFor="let of of offre" [value]="of.id">{{ of.description }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>montant Total</label>
                <input class="form-control" formControlName="montantTotal" id="montantTotal" type="text" >
            </div>
            <div class="form-group">
                <label for="Datedelivraison" class="form-label">Date de livraison</label>
                <input class="form-control" formControlName="datedelivraison" id="datedelivraison" type="date">
            </div>
            <div class="form-group">
                <label>Description:</label>
                <textarea class="form-control" formControlName="description"  rows="5" cols="30" required></textarea>
            </div>

            <div class="workflow-container">
                <app-workflow-decision
                        *ngIf="demandeForm &&(demandeForm['workflow']!=undefined ||!(this.demandeForm.userPermission == 'WRITE')) "
                        (decisionEvent)="Confirmation($event)"
                        (saveEvent)="save()"
                        (RetournEvent)="Retourn()"
                        [access]="demandeForm['userPermission'] === 'READ' || demandeForm['userPermission'] === 'NONE'"
                        [decisions]="decissionWF"
                        [object]="demandeForm"
                        [SaveObject]="demandeForm">
                </app-workflow-decision>

            </div>

        </form>

    </div>
    <div
            class="tab-pane fade {{ traitement ? 'show active' : '' }}"
            id="ex3-tabs-2"
            role="tabpanel"
            aria-labelledby="ex3-tab-2"
            *ngIf="traitement"
    >
        <form  [formGroup]="demandeF"   method="post" novalidate>
            <div class="form-group">
                <label>Service commandé:</label>
                <input type="text" formControlName="servicecommande" class="form-control" required>
            </div>


            <div class="form-group">
                <label>Statut:</label>
                <select class="form-control"  >
                    <option *ngFor="let status of statusList" [value]="status">{{ status }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Methode de paiement</label>
                <select formControlName="methodedepaiement" class="form-control">
                    <option value="carte">Carte de crédit</option>
                    <option value="virement">Virement bancaire</option>

                    <option value="espece">Espèces</option>
                    <option value="cheque">Chèque</option>
                </select>
            </div>
            <div class="form-group">
                <label>montant Total</label>
                <input class="form-control" formControlName="montantTotal"   type="text" >
            </div>
            <div class="form-group">
                <label for="Datedelivraison" class="form-label">Date de livraison</label>
                <input class="form-control" formControlName="datedelivraison"  type="date">
            </div>
            <div class="form-group">
                <label>Description:</label>
                <textarea class="form-control" formControlName="description"  rows="5" cols="30" required></textarea>
            </div>

            <div class="workflow-container">
                <app-workflow-decision
                        *ngIf="demandeForm &&(demandeForm['workflow']!=undefined ||!(this.demandeForm.userPermission == 'WRITE')) "
                        (decisionEvent)="Confirmation($event)"
                        (saveEvent)="save()"
                        (RetournEvent)="Retourn()"
                        [access]="demandeForm['userPermission'] === 'READ' || demandeForm['userPermission'] === 'NONE'"
                        [decisions]="decissionWF"
                        [object]="demandeForm"
                        [SaveObject]="demandeForm">
                </app-workflow-decision>

            </div>

        </form>

    </div>
    <div
            class="tab-pane fade {{ validation ? 'show active' : '' }}"
            id="ex3-tabs-3"
            role="tabpanel"
            aria-labelledby="ex3-tab-3"
            *ngIf="validation"
    >

        <form  [formGroup]="demandeF"   method="post" novalidate>
            <div class="form-group">
                <label>Service commandé:</label>
                <input type="text" formControlName="servicecommande" class="form-control" required>
            </div>


            <div class="form-group">
                <label>Statut:</label>
                <select class="form-control"  >
                    <option *ngFor="let status of statusList" [value]="status">{{ status }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Methode de paiement</label>
                <select formControlName="methodedepaiement" class="form-control">
                    <option value="carte">Carte de crédit</option>
                    <option value="virement">Virement bancaire</option>

                    <option value="espece">Espèces</option>
                    <option value="cheque">Chèque</option>
                </select>
            </div>
            <div class="form-group">
                <label>montant Total</label>
                <input class="form-control" formControlName="montantTotal"   type="text" >
            </div>
            <div class="form-group">
                <label for="Datedelivraison" class="form-label">Date de livraison</label>
                <input class="form-control" formControlName="datedelivraison"  type="date">
            </div>
            <div class="form-group">
                <label>Description:</label>
                <textarea class="form-control" formControlName="description"  rows="5" cols="30" required></textarea>
            </div>

            <div class="workflow-container">
                <app-workflow-decision
                        *ngIf="demandeForm &&(demandeForm['workflow']!=undefined ||!(this.demandeForm.userPermission == 'WRITE')) "
                        (decisionEvent)="Confirmation($event)"
                        (saveEvent)="save()"
                        (RetournEvent)="Retourn()"
                        [access]="demandeForm['userPermission'] === 'READ' || demandeForm['userPermission'] === 'NONE'"
                        [decisions]="decissionWF"
                        [object]="demandeForm"
                        [SaveObject]="demandeForm">
                </app-workflow-decision>

            </div>

        </form>

    </div>



        <!-- Content for new tab -->
        <div
                class="tab-pane fade {{ elsedesision ? 'show active' : '' }}"
                id="ex3-tabs-4"
                role="tabpanel"
                aria-labelledby="ex3-tab-4"
                *ngIf="elsedesision"
        >
            <!-- Your content for the new tab goes here -->
            <form  [formGroup]="demandeF"   method="post" novalidate>
                <div class="form-group">
                    <label>Service commandé:</label>
                    <input type="text" formControlName="servicecommande" class="form-control" required>
                </div>


                <div class="form-group">
                    <label>Statut:</label>
                    <select class="form-control"  >
                        <option *ngFor="let status of statusList" [value]="status">{{ status }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Methode de paiement</label>
                    <select formControlName="methodedepaiement" class="form-control">
                        <option value="carte">Carte de crédit</option>
                        <option value="virement">Virement bancaire</option>

                        <option value="espece">Espèces</option>
                        <option value="cheque">Chèque</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>montant Total</label>
                    <input class="form-control" formControlName="montantTotal"   type="text" >
                </div>
                <div class="form-group">
                    <label for="Datedelivraison" class="form-label">Date de livraison</label>
                    <input class="form-control" formControlName="datedelivraison"  type="date">
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <textarea class="form-control" formControlName="description"  rows="5" cols="30" required></textarea>
                </div>

                <div class="workflow-container">
                    <app-workflow-decision
                            *ngIf="demandeForm &&(demandeForm['workflow']!=undefined ||!(this.demandeForm.userPermission == 'WRITE')) "
                            (decisionEvent)="Confirmation($event)"
                            (saveEvent)="save()"
                            (RetournEvent)="Retourn()"
                            [access]="demandeForm['userPermission'] === 'READ' || demandeForm['userPermission'] === 'NONE'"
                            [decisions]="decissionWF"
                            [object]="demandeForm"
                            [SaveObject]="demandeForm">
                    </app-workflow-decision>

                </div>

            </form>

        </div>

</div>
<dx-popup
        [showCloseButton]="true"
        [maxWidth]="'auto'"
        [width]="popupWidth"
        [height]="popupHeight"
        [showTitle]="false"
        title="Workflow Viewer"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupViewerVisible">
    <div *dxTemplate="let data of 'content'">
        <app-journal [viewerUrl]="objectData.workflow.wfProcessID" [historicsWF]="objectData.workflow.historicWF" [historicsEvt]="objectData.events"
                     [historicsAcces]="objectData.userActivity"></app-journal>
    </div>
</dx-popup>
