


<dx-popup
        [maxWidth]="940"
        [width]="900"
        [height]="'auto'"
        [showTitle]="true"
        title="Add Client"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupAdd">

    <app-add-client [id]="" (add)="add($event)"></app-add-client>
</dx-popup>

<dx-data-grid
    #grid
    [dataSource]="dataSourceElement"
    [showBorders]="true"
    [repaintChangesOnly]="true"
    (onToolbarPreparing)="onToolbarPreparing($event)"
    [remoteOperations]="{filtering: false, grouping: false, sorting: false, paging: true}"
>

    <dxo-editing
            [allowUpdating]="true"

            [allowDeleting]="true"
            [useIcons]="true"
            mode="popup"

    ></dxo-editing>
    <dxo-pager [allowedPageSizes]="allowedPageSizes" [showInfo]="true" [showPageSizeSelector]="true"
               [visible]="true"
               displayMode="full"
               [showNavigationButtons]="true"
    ></dxo-pager>
    <dxo-scrolling rowRenderingMode="virtual"></dxo-scrolling>
    <dxo-paging [pageSize]="pageSize" [pageIndex]="0"  ></dxo-paging>
    <dxi-column dataField="nom" dataType="string"></dxi-column>
    <dxi-column dataField="adresse" dataType="string"></dxi-column>
    <dxi-column dataField="telephone" dataType="string"></dxi-column>
    <dxi-column dataField="email" dataType="string"></dxi-column>
    <dxi-column dataField="dateInscription" dataType="date"></dxi-column>
    <dxi-column dataField="typeClient" dataType="string"></dxi-column>
    <dxi-column dataField="notes" dataType="string"></dxi-column>
<!--    <dxi-column type="buttons">-->
<!--        <dxi-button name="edit" [onClick]="editRow"></dxi-button>-->
<!--        <dxi-button name="delete"></dxi-button>-->
<!--    </dxi-column>-->
<!--    <dxo-toolbar>-->
<!--        <dxi-item location="after">-->
<!--            <div *dxTemplate>-->
<!--                <dx-button icon="plus" (onClick)="addRow()"></dx-button>-->
<!--            </div>-->
<!--        </dxi-item>-->
<!--    </dxo-toolbar>-->
</dx-data-grid>

