<dx-data-grid
    #grid
    [dataSource]="dataSourceElement"
    [showBorders]="true"
    [repaintChangesOnly]="true"
>
    <dxo-editing
            [allowUpdating]="true"
            [allowAdding]="true"
            [allowDeleting]="true"
            [useIcons]="true"
            mode="popup"

    ></dxo-editing>
    <dxi-column dataField="nom" dataType="string"></dxi-column>
    <dxi-column dataField="adresse" dataType="string"></dxi-column>
    <dxi-column dataField="telephone" dataType="string"></dxi-column>
    <dxi-column dataField="email" dataType="string"></dxi-column>
    <dxi-column dataField="dateInscription" dataType="date"></dxi-column>
    <dxi-column dataField="typeClient" dataType="string"></dxi-column>
    <dxi-column dataField="notes" dataType="string"></dxi-column>
<!--    <dxi-column type="buttons">-->
<!--        <dxi-button name="edit" [onClick]="editRow"></dxi-button>-->
<!--        <dxi-button name="delete"></dxi-button>-->
<!--    </dxi-column>-->
<!--    <dxo-toolbar>-->
<!--        <dxi-item location="after">-->
<!--            <div *dxTemplate>-->
<!--                <dx-button icon="plus" (onClick)="addRow()"></dx-button>-->
<!--            </div>-->
<!--        </dxi-item>-->
<!--    </dxo-toolbar>-->
</dx-data-grid>
<dx-popup
        [maxWidth]="940"
        [width]="900"
        [height]="'auto'"
        [showTitle]="true"
        title="اضافة اختصاص"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupAdd">

    <app-specialite [id]="" (add)="add($event)"></app-specialite>
</dx-popup>
