::ng-deep #GridElement .dx-datagrid .dx-datagrid-headers .dx-header-row {

  background: #37474f !important;
  color: white !important;
}

::ng-deep .dx-datagrid .dx-header-filter-empty{
  color: white !important;
}

:host ::ng-deep .GridElement .dx-datagrid .dx-row-alt > td, .dx-datagrid .dx-row-alt > tr > td {

  background-color: #8c8c8880 ;
}