//.disabled {
//  pointer-events: none;
//  cursor: default;
//}
//
//.nav-link.active {
//  color: #0096a6 !important;
//  background-color: #fff ;
//  border-color: #e0e0e0 #e0e0e0 #0096a6 !important;
//}
//.nav-tabs {
//  border-bottom: 1px solid #ffffff !important;
//}
//.tab-content {
//  position: relative;
//  z-index: 1;
//  border: 1px solid #0096a6 !important;
//  background: #fff;
//}
//
//:host .dx-fieldset {
//  height: 1000px;
//
//}
.bannerColor {
    background-color: #40B3A2 !important;
    color: white;

}
::ng-deep #accordion {
  height: 700px;

}

::ng-deep #accordion .header {
  font-size: 20px;
  //border: solid blue 2px;
}

::ng-deep #accordion .header,
::ng-deep #accordion p {
  margin: 0;
}

::ng-deep #accordion-container {
  margin-right: 400px;
}

::ng-deep .dx-theme-material #accordion .dx-accordion-item-title {
  display: flex;
  //color: #40B3A2 !important;
}

::ng-deep .dx-theme-material #accordion .header {
  align-self: center;
}

::ng-deep .options {
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 340px;
  top: 0;
  background-color: rgba(191, 191, 191, 0.15);
}

::ng-deep .options > .caption {
  font-weight: 500;
  font-size: 18px;
}

::ng-deep .option {
  margin-top: 10px;
}

::ng-deep .option > .caption {
  margin-top: 10px;
  display: inline-block;
}

::ng-deep .option > .dx-tagbox {
  margin-top: 2px;
}


::ng-deep .dx-accordion-item-title .dx-accordion-item-title-caption {
  color: #40B3A2  !important;
}
::ng-deep .dx-accordion-item-title::before {
  color: rgb(24, 160, 170) !important;
}

// legend

.fieldset
{
  border-color: red !important;
  border-radius: 8px !important;
}
.fieldset.title{
  color: blue !important;
}
.legend1
{
  margin-bottom:0px !important;
  margin-left:16px !important;
  color: green  !important;
  font-weight: bold !important;
}
.fieldset:hover
{
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2) !important;
}