.disabled {
  pointer-events: none;
  cursor: default;
}

.nav-link.active {
  color: #0096a6 !important;
  background-color: #fff ;
  border-color: #e0e0e0 #e0e0e0 #0096a6 !important;
}
.nav-tabs {
  border-bottom: 1px solid #ffffff !important;
}
.tab-content {
  position: relative;
  z-index: 1;
  border: 1px solid #0096a6 !important;
  background: #fff;
}