<dx-popup
        [maxWidth]="940"
        [width]="500"
        [height]="'auto'"
        [showTitle]="true"
        title="Créer une opportunité"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="showModal">

    <p>Voulez-vous créer une offre pour cette opportunité ?</p>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <button
                    class="btn btn-secondary"
                    (click)="onCancelClick()">Annuler</button> </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 alignRight">
            <button
                    class="btn btn-primary"
                    (click)="onCreateOpportunityClick()">Créer Opportunité</button></div>
    </div>
</dx-popup>
<div>

    <div>
        <div class="card-header text-center bg-secondary  text-white bannerColor" >
            <div class="col-md-12" style="text-align: center;" *ngIf="demandedto!=undefined">
                <h5> edit opportunité ({{demandedto.id}})</h5>
            </div>
            <div style="" >
                <a (click)="showPopupWF()" rel="noopener" target="_blank" title="">
                    <div class="icon-container"  title="{{'show-event.Voir la liste des événements' | translate}}">
                        <i class="fas fa-project-diagram"></i>
                    </div>
                </a>
            </div>




        </div>
    </div>
</div>
<!-- Tabs content -->
<div class="tab-content" id="ex2-content">
    <!-- acctiver when verification is true-->
    <div
            class="tab-pane fade {{ creationOpp ? 'show active' : '' }}"
            id="ex3-tabs-1"
            role="tabpanel"
            aria-labelledby="ex3-tab-1"
            *ngIf="creationOpp"
    >
        <dx-accordion
                [collapsible]="true"
                height="auto"
                [selectedIndex]="-1"
                [animationDuration]="300"
        >
            <dxi-item title="Demande info">

                <div >
                    <div class="form-group">
                        <label class="form-label"><b>Nom demande:</b></label>
                        <input class="form-control"  type="text" [value]="demandedto?.demande?.nom " readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-label"><b>Status:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto?.demande?.activityName" readonly />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="form-label"><b>Créer par:</b></label>
                            <input  class="form-control"  type="text" [value]="demandedto?.demande?.assignee" readonly />
                        </div>

                        <div class="form-group col-md-6">
                            <label  class="form-label"><b>Date de creation demande :</b></label>
                            <input  class="form-control"  type="text" [value]="demandedto?.demande?.dateDeCreation | date:'medium'" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><b>Client:</b></label>
                        <input class="form-control"  type="text" [value]="demandedto?.demande?.client.nom " readonly />
                    </div>
                </div>
            </dxi-item>
        </dx-accordion>
        <h1>hhhh1111</h1>
        <form [formGroup]="oppF" class="row g-3 needs-validation custom-form" novalidate>


            <section class="light" >
                <div class="container py-2">
                    <div class="h1 text-center text-dark" id="pageHeaderTitle2"></div>


                    <article class="postcard light green">
                        <a class="postcard__img_link" href="#">
                            <!--                    <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />-->
                        </a>
                        <div class="postcard__text t-dark">


                            <div class="form-group ">
                                <label for="nom" class="form-label">Nom:</label>
                                <input class="form-control" formControlName="nom" id="nom" type="text" required>
                                <!--        <div *ngIf="demandeForm.get('nom').invalid && (demandeForm.get('nom').dirty || demandeForm.get('nom').touched)"-->
                                <!--             class="alert alert-danger">-->
                                <!--            <div *ngIf="demandeForm.get('nom').errors.required">-->
                                <!--                Nom is required.-->
                                <!--            </div>-->
                                <!--        </div>-->
                            </div>



                            <div class="form-group ">
                                <label for="description" class="form-label">Description:</label>
                                <textarea class="form-control" formControlName="description" id="description" type="text" required></textarea>

                            </div>


                        </div>

                    </article>

                </div>

            </section>


            <section class="light" *ngIf="selectedDemande">
                <div class="container py-2">
                    <div class="h1 text-center text-dark" id="pageHeaderTitle"></div>


                    <article class="postcard light green">
                        <a class="postcard__img_link" href="#">
                            <!--                    <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />-->
                        </a>
                        <div class="postcard__text t-dark">
                            <h5><a href="#">Demande informations</a></h5>
                            <div class="postcard__subtitle small">
                                <time datetime="2020-05-25 12:00:00">
                                    <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                                </time>
                            </div>
                            <div class="postcard__bar"></div>
                            <!--                    <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>-->
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nomDemande" class="form-label">Nom Demande:</label>
                                    <input class="form-control" id="nomDemande" type="text" [value]="demandeF.get('nom').value" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="client" class="form-label">Client:</label>
                                    <input class="form-control" id="client" type="text" [value]="demandeF.get('client').value" readonly>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="statut" class="form-label">Statut:</label>
                                    <input class="form-control" id="statut" type="text" [value]="demandeF.get('statut').value" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="source" class="form-label">Source:</label>
                                    <input class="form-control" id="source" type="text" [value]="demandeF.get('source').value" readonly>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="commentaires" class="form-label">Commentaires:</label>
                                    <input class="form-control" id="commentaires" type="text" [value]="demandeF.get('commentaires').value" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="deadline" class="form-label">Deadline:</label>
                                    <input class="form-control" id="deadline" type="text" [value]="demandeF.get('deadline').value" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="descriptionDemande" class="form-label">Description Demande:</label>
                                <textarea class="form-control" id="descriptionDemande" type="text" [value]="demandeF.get('description').value" readonly></textarea>
                            </div>
                        </div>
                    </article>

                </div>
            </section>


            <div class="workflow-container">
                <!--            <button (click)="Return()" class="btn btn-light" mdbRipple type="button">Annuler</button>-->
                <!--            <button class="btn btn-success me-md-2" mdbRipple type="submit">Confirmer</button>-->
                <app-workflow-decision
                        *ngIf="oppForm &&(oppForm['workflow']!=undefined ||!(this.oppForm.userPermission == 'WRITE')) "
                        (decisionEvent)="Confirmation($event)"
                        (saveEvent)="save()"
                        (RetournEvent)="Retourn()"
                        [access]="oppForm['userPermission'] === 'READ' || oppForm['userPermission'] === 'NONE'"
                        [decisions]="decissionWF"
                        [object]="oppForm"
                        [SaveObject]="oppForm">
                </app-workflow-decision>

                <!--        <div class="d-grid gap-2 d-md-flex justify-content-md-between">-->
                <!--            <button mdbRipple class="btn btn-light" type="button" (click)="Return()">Annuler</button>-->
                <!--            <button mdbRipple class="btn btn-success me-md-2" type="submit" >Confirmer</button>-->

            </div>
        </form>

    </div>
    <div
            class="tab-pane fade {{ Affectaionequipe ? 'show active' : '' }}"
            id="ex3-tabs-2"
            role="tabpanel"
            aria-labelledby="ex3-tab-2"
            *ngIf="Affectaionequipe"
    >


        <dx-accordion
                [collapsible]="true"
                height="auto"
                [selectedIndex]="-1"
                [animationDuration]="300"
        >
            <dxi-item title="Opportunité info">
                <div >
                    <div class="form-group">
                        <label class="form-label"><b>Nom:</b></label>
                        <input class="form-control"  type="text" [value]="demandedto?.nom" readonly />
                    </div>
                    <div class="form-group">
                        <label  class="form-label"><b>Description:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto?.description" readonly />
                    </div>


                    <div class="form-group">
                        <label class="form-label"><b>Status:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto?.status" readonly />
                    </div>

                    <div class="form-group">
                        <label  class="form-label"><b>Created At:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto?.createAt | date:'medium'" readonly />
                    </div>


                </div>
            </dxi-item>
        </dx-accordion>

        <dx-accordion
                [collapsible]="true"
                height="auto"
                [selectedIndex]="-1"
                [animationDuration]="300"
        >
            <dxi-item title="Demande info">

                <div >
                    <div class="form-group">
                        <label class="form-label"><b>Nom demande:</b></label>
                        <input class="form-control"  type="text" [value]="demandedto?.demande?.nom " readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-label"><b>Status:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto?.demande?.activityName" readonly />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="form-label"><b>Créer par:</b></label>
                            <input  class="form-control"  type="text" [value]="demandedto?.demande?.assignee" readonly />
                        </div>

                        <div class="form-group col-md-6">
                            <label  class="form-label"><b>Date de creation demande :</b></label>
                            <input  class="form-control"  type="text" [value]="demandedto?.demande?.dateDeCreation | date:'medium'" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><b>Client:</b></label>
                        <input class="form-control"  type="text" [value]="demandedto?.demande?.client?.nom " readonly />
                    </div>
                </div>
            </dxi-item>
        </dx-accordion>


        <form [formGroup]="oppF" class="row g-3 needs-validation custom-form" novalidate>

                    <article class="postcard light green">
                        <a class="postcard__img_link" href="#">
                            <!--                    <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />-->
                        </a>
                        <div class="postcard__text t-dark">


                            <div class="form-group ">
                                <label for="nom" class="form-label">Nom:</label>
                                <input class="form-control" formControlName="nom" type="text" required>
                                <!--        <div *ngIf="demandeForm.get('nom').invalid && (demandeForm.get('nom').dirty || demandeForm.get('nom').touched)"-->
                                <!--             class="alert alert-danger">-->
                                <!--            <div *ngIf="demandeForm.get('nom').errors.required">-->
                                <!--                Nom is required.-->
                                <!--            </div>-->
                                <!--        </div>-->
                            </div>

                            <div class="form-group ">
                                <label for="description" class="form-label">Description:</label>
                                <textarea class="form-control" formControlName="description" type="text" required></textarea>

                            </div>


                        </div>

                        <div class="form-group">
                            <label>Select Equipe</label>
                            <select formControlName="nomDepartement" class="form-select" (change)="onDepartementChange($event)">
                                <option *ngFor="let client of gridDataSource" [value]="client.name">{{ client.name }}</option>
                            </select>

                        </div>
                    </article>




        </form>


        <dx-data-grid
                id="orders"
                [dataSource]="productsDataSource"
                [repaintChangesOnly]="true"
                [columnAutoWidth]="true"
                [showBorders]="true"
        >
            <dxo-paging [pageSize]="10"></dxo-paging>

            <dxi-column dataField="ProductName" dataType="string"></dxi-column>
            <dxi-column
                    dataField="nature"
                    dataType="string"
                    format="currency"
            ></dxi-column>
            <dxi-column dataField="responsableEtude" dataType="datetime"></dxi-column>
            <dxi-column dataField="dateDebut" dataType="number"></dxi-column>
            <dxi-column
                    dataField="nbreHours"
                    dataType="number"

                    [allowSorting]="true"
            ></dxi-column>
            <!--            <dxo-summary>-->
            <!--                <dxi-total-item column="ProductName" summaryType="count"></dxi-total-item>-->
            <!--                <dxi-total-item-->
            <!--                        column="Amount"-->
            <!--                        summaryType="sum"-->
            <!--                        displayFormat="{0}"-->
            <!--                        valueFormat="currency"-->
            <!--                ></dxi-total-item>-->
            <!--                <dxi-total-item-->
            <!--                        column="OrderCount"-->
            <!--                        summaryType="sum"-->
            <!--                        displayFormat="{0}"-->
            <!--                ></dxi-total-item>-->
            <!--            </dxo-summary>-->
            <dxo-master-detail [enabled]="true" template="tacheDetail">
            </dxo-master-detail>
            <div *dxTemplate="let detail of 'tacheDetail'">
                <dx-data-grid
                        [dataSource]="getDetailGridDataSource(detail.data)"
                        [columnAutoWidth]="true"
                        [repaintChangesOnly]="true"
                        [showBorders]="true"
                >
                    <dxo-paging [pageSize]="5"></dxo-paging>

                    <dxi-column dataField="id" dataType="number" caption="ID"></dxi-column>
                    <dxi-column dataField="nom" dataType="string" caption="Nom"></dxi-column>
                    <dxi-column dataField="description" dataType="string" caption="Description"></dxi-column>
                    <dxi-column dataField="nbreHours" dataType="string" caption="nombre des heures" ></dxi-column>
                    <dxi-column dataField="nombre des ingénieurs" dataType="string" caption="nombre des heures" ></dxi-column>
                </dx-data-grid>
            </div>
        </dx-data-grid>

        <!--        <div class="options">-->
        <!--            <div class="caption">Options</div>-->
        <!--            <div class="option">-->
        <!--                <span>Update frequency:</span>-->
        <!--                <dx-slider [min]="10" [step]="10" [max]="5000" [(value)]="updatesPerSecond">-->
        <!--                    <dxo-tooltip-->
        <!--                            [enabled]="true"-->
        <!--                            format="#0 per second"-->
        <!--                            showMode="always"-->
        <!--                            position="top"-->
        <!--                    >-->
        <!--                    </dxo-tooltip>-->
        <!--                </dx-slider>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="workflow-container">
            <!--            <button (click)="Return()" class="btn btn-light" mdbRipple type="button">Annuler</button>-->
            <!--            <button class="btn btn-success me-md-2" mdbRipple type="submit">Confirmer</button>-->
            <app-workflow-decision
                    *ngIf="oppForm &&(oppForm['workflow']!=undefined ||!(this.oppForm.userPermission == 'WRITE')) "
                    (decisionEvent)="Confirmation($event)"
                    (saveEvent)="save2()"
                    (RetournEvent)="Retourn()"
                    [access]="oppForm['userPermission'] === 'READ' || oppForm['userPermission'] === 'NONE'"
                    [decisions]="decissionWF"
                    [object]="oppForm"
                    [SaveObject]="oppForm">
            </app-workflow-decision>

            <!--        <div class="d-grid gap-2 d-md-flex justify-content-md-between">-->
            <!--            <button mdbRipple class="btn btn-light" type="button" (click)="Return()">Annuler</button>-->
            <!--            <button mdbRipple class="btn btn-success me-md-2" type="submit" >Confirmer</button>-->

        </div>



    </div>

    <div
            class="tab-pane fade {{ etude ? 'show active' : '' }}"
            id="ex3-tabs-3"
            role="tabpanel"
            aria-labelledby="ex3-tab-3"
            *ngIf="etude"
    >

        <dx-accordion
                [collapsible]="true"
                height="auto"
                [selectedIndex]="-1"
                [animationDuration]="300"
        >
            <dxi-item title="Opportunité info">
                <div >
                    <div class="form-group">
                        <label class="form-label"><b>Nom:</b></label>
                        <input class="form-control"  type="text" [value]="demandedto?.nom" readonly />
                    </div>
                    <div class="form-group">
                        <label  class="form-label"><b>Description:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto?.description" readonly />
                    </div>


                    <div class="form-group">
                        <label class="form-label"><b>Status:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto?.status" readonly />
                    </div>

                    <div class="form-group">
                        <label  class="form-label"><b>Created At:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto?.createAt | date:'medium'" readonly />
                    </div>


                </div>
            </dxi-item>
        </dx-accordion>
        <dx-accordion
                [collapsible]="true"
                height="auto"
                [selectedIndex]="-1"
                [animationDuration]="300"
        >
            <dxi-item title="Demande info">

                <div >
                    <div class="form-group">
                        <label class="form-label"><b>Nom demande:</b></label>
                        <input class="form-control"  type="text" [value]="demandedto?.demande?.nom " readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-label"><b>Status:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto?.demande?.activityName" readonly />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="form-label"><b>Créer par:</b></label>
                            <input  class="form-control"  type="text" [value]="demandedto?.demande?.assignee" readonly />
                        </div>

                        <div class="form-group col-md-6">
                            <label  class="form-label"><b>Date de creation demande :</b></label>
                            <input  class="form-control"  type="text" [value]="demandedto?.demande?.dateDeCreation | date:'medium'" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><b>Client:</b></label>
                        <input class="form-control"  type="text" [value]="demandedto?.demande?.client.nom " readonly />
                    </div>
                </div>
            </dxi-item>
        </dx-accordion>
        <h1>hhh333333</h1>
        <form [formGroup]="techForm" >
            <div>
                <label for="nature">Nature:</label>
                <input type="text" id="nature" formControlName="nature">
                <div *ngIf="techForm.get('nature').invalid && techForm.get('nature').touched">
                    <span *ngIf="techForm.get('nature').errors.required">Nature is required</span>
                </div>
            </div>

            <div>
                <label for="description">Description:</label>
                <input type="text" formControlName="description">
                <div *ngIf="techForm.get('description').invalid && techForm.get('description').touched">
                    <span *ngIf="techForm.get('description').errors.required">Description is required</span>
                </div>
            </div>

            <div>
                <label for="specialite">Specialite:</label>
                <input type="text" id="specialite" formControlName="specialite">
            </div>

            <div>
                <label for="nbreHours">Number of Hours:</label>
                <input type="number" id="nbreHours" formControlName="nbreHours">
                <div *ngIf="techForm.get('nbreHours').invalid && techForm.get('nbreHours').touched">
                    <span *ngIf="techForm.get('nbreHours').errors.required">Number of Hours is required</span>
                </div>
            </div>

            <div>
                <label for="responsableEtude">Responsible Etude:</label>
                <input type="text" id="responsableEtude" formControlName="responsableEtude">
                <div *ngIf="techForm.get('responsableEtude').invalid && techForm.get('responsableEtude').touched">
                    <span *ngIf="techForm.get('responsableEtude').errors.required">Responsible Etude is required</span>
                </div>
            </div>

            <div>
                <label for="dateDebut">Date Debut:</label>
                <input type="date" id="dateDebut" formControlName="dateDebut">
            </div>
            <div class="workflow-container">
                <!--            <button (click)="Return()" class="btn btn-light" mdbRipple type="button">Annuler</button>-->
                <!--            <button class="btn btn-success me-md-2" mdbRipple type="submit">Confirmer</button>-->
                <app-workflow-decision
                        *ngIf="oppForm &&(oppForm['workflow']!=undefined ||!(this.oppForm.userPermission == 'WRITE')) "
                        (decisionEvent)="Confirmation($event)"
                        (saveEvent)="save()"
                        (RetournEvent)="Retourn()"
                        [access]="oppForm['userPermission'] === 'READ' || oppForm['userPermission'] === 'NONE'"
                        [decisions]="decissionWF"
                        [object]="oppForm"
                        [SaveObject]="oppForm">
                </app-workflow-decision>

                <!--        <div class="d-grid gap-2 d-md-flex justify-content-md-between">-->
                <!--            <button mdbRipple class="btn btn-light" type="button" (click)="Return()">Annuler</button>-->
                <!--            <button mdbRipple class="btn btn-success me-md-2" type="submit" >Confirmer</button>-->

            </div>
        </form>

        <div class="row">
            <div class="col-md-4" *ngFor="let projet of equipesaff">
                <div class="card text-center">
                    <div class="card-header">{{ projet.nom }}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ projet.telephone }}</h5>
                        <p class="card-text">{{ projet.description }}</p>
                        <a href="#" class="btn btn-primary">Voir plus</a>
                    </div>
                    <!--                    <div class="card-footer text-muted">{{ projet.date | date: 'dd/MM/yyyy' }}</div>-->
                </div>
            </div>
        </div>
        <br>
    </div>



    <!-- Content for new tab -->
    <div
            class="tab-pane fade {{ rapport ? 'show active' : '' }}"
            id="ex3-tabs-4"
            role="tabpanel"
            aria-labelledby="ex3-tab-4"
            *ngIf="rapport"
    >
        <dx-accordion
                [collapsible]="true"
                height="auto"
                [selectedIndex]="-1"
                [animationDuration]="300"
        >
            <dxi-item title="Opportunité info">
                <div >
                    <div class="form-group">
                        <label class="form-label"><b>Nom:</b></label>
                        <input class="form-control"  type="text" [value]="demandedto?.nom" readonly />
                    </div>
                    <div class="form-group">
                        <label  class="form-label"><b>Description:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto?.description" readonly />
                    </div>


                    <div class="form-group">
                        <label class="form-label"><b>Status:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto?.status" readonly />
                    </div>

                    <div class="form-group">
                        <label  class="form-label"><b>Created At:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto?.createAt | date:'medium'" readonly />
                    </div>


                </div>
            </dxi-item>
        </dx-accordion>

        <dx-accordion
                [collapsible]="true"
                height="auto"
                [selectedIndex]="-1"
                [animationDuration]="300"
        >
            <dxi-item title="Demande info">

                <div >
                    <div class="form-group">
                        <label class="form-label"><b>Nom demande:</b></label>
                        <input class="form-control"  type="text" [value]="demandedto.demande.nom " readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-label"><b>Status:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto.demande.activityName" readonly />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="form-label"><b>Créer par:</b></label>
                            <input  class="form-control"  type="text" [value]="demandedto.demande.assignee" readonly />
                        </div>

                        <div class="form-group col-md-6">
                            <label  class="form-label"><b>Date de creation demande :</b></label>
                            <input  class="form-control"  type="text" [value]="demandedto.demande.dateDeCreation | date:'medium'" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><b>Client:</b></label>
                        <input class="form-control"  type="text" [value]="demandedto.demande.client.nom " readonly />
                    </div>
                </div>
            </dxi-item>
        </dx-accordion>
        <h1>hh44444</h1>
        <form [formGroup]="oppF" class="row g-3 needs-validation custom-form" novalidate>




            <article class="postcard light green">
                <a class="postcard__img_link" href="#">
                    <!--                    <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />-->
                </a>
                <div class="postcard__text t-dark">


                    <div class="form-group ">
                        <label for="nom" class="form-label">Nom:</label>
                        <input class="form-control" formControlName="nom" type="text" required>
                        <!--        <div *ngIf="demandeForm.get('nom').invalid && (demandeForm.get('nom').dirty || demandeForm.get('nom').touched)"-->
                        <!--             class="alert alert-danger">-->
                        <!--            <div *ngIf="demandeForm.get('nom').errors.required">-->
                        <!--                Nom is required.-->
                        <!--            </div>-->
                        <!--        </div>-->
                    </div>


                    <div class="form-group ">
                        <label for="description" class="form-label">Description:</label>
                        <textarea class="form-control" formControlName="description" type="text" required></textarea>

                    </div>



                </div>

            </article>



            <div class="workflow-container">
                <!--            <button (click)="Return()" class="btn btn-light" mdbRipple type="button">Annuler</button>-->
                <!--            <button class="btn btn-success me-md-2" mdbRipple type="submit">Confirmer</button>-->
                <app-workflow-decision
                        *ngIf="oppForm &&(oppForm['workflow']!=undefined ||!(this.oppForm.userPermission == 'WRITE')) "
                        (decisionEvent)="Confirmation($event)"
                        (saveEvent)="save()"
                        (RetournEvent)="Retourn()"
                        [access]="oppForm['userPermission'] === 'READ' || oppForm['userPermission'] === 'NONE'"
                        [decisions]="decissionWF"
                        [object]="oppForm"
                        [SaveObject]="oppForm">
                </app-workflow-decision>

                <!--        <div class="d-grid gap-2 d-md-flex justify-content-md-between">-->
                <!--            <button mdbRipple class="btn btn-light" type="button" (click)="Return()">Annuler</button>-->
                <!--            <button mdbRipple class="btn btn-success me-md-2" type="submit" >Confirmer</button>-->

            </div>
        </form>

    </div>


    <div
            class="tab-pane fade {{ elsebool ? 'show active' : '' }}"
            id="ex3-tabs-5"
            role="tabpanel"
            aria-labelledby="ex3-tab-5"
            *ngIf="elsebool"
    >
        <dx-accordion
                [collapsible]="true"
                height="auto"
                [selectedIndex]="-1"
                [animationDuration]="300"
        >
            <dxi-item title="Opportunité info">
                <div >
                    <div class="form-group">
                        <label class="form-label"><b>Nom:</b></label>
                        <input class="form-control"  type="text" [value]="demandedto?.nom" readonly />
                    </div>
                    <div class="form-group">
                        <label  class="form-label"><b>Description:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto?.description" readonly />
                    </div>


                    <div class="form-group">
                        <label class="form-label"><b>Status:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto?.status" readonly />
                    </div>

                    <div class="form-group">
                        <label  class="form-label"><b>Created At:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto?.createAt | date:'medium'" readonly />
                    </div>


                </div>
            </dxi-item>
        </dx-accordion>
        <dx-accordion
                [collapsible]="true"
                height="auto"
                [selectedIndex]="-1"
                [animationDuration]="300"
        >
            <dxi-item title="Demande info">

                <div >
                    <div class="form-group">
                        <label class="form-label"><b>Nom demande:</b></label>
                        <input class="form-control"  type="text" [value]="demandedto.demande.nom " readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-label"><b>Status:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto.demande.activityName" readonly />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="form-label"><b>Créer par:</b></label>
                            <input  class="form-control"  type="text" [value]="demandedto?.demande?.assignee" readonly />
                        </div>

                        <div class="form-group col-md-6">
                            <label  class="form-label"><b>Date de creation demande :</b></label>
                            <input  class="form-control"  type="text" [value]="demandedto?.demande?.dateDeCreation | date:'medium'" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><b>Client:</b></label>
                        <input class="form-control"  type="text" [value]="demandedto?.demande?.client?.nom " readonly />
                    </div>
                </div>
            </dxi-item>
        </dx-accordion>
        <h1>h555</h1>
        <form [formGroup]="oppF" class="row g-3 needs-validation custom-form" novalidate>




            <article class="postcard light green">
                <a class="postcard__img_link" href="#">
                    <!--                    <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />-->
                </a>
                <div class="postcard__text t-dark">


                    <div class="form-group ">
                        <label for="nom" class="form-label">Nom:</label>
                        <input class="form-control" formControlName="nom" type="text" required>
                        <!--        <div *ngIf="demandeForm.get('nom').invalid && (demandeForm.get('nom').dirty || demandeForm.get('nom').touched)"-->
                        <!--             class="alert alert-danger">-->
                        <!--            <div *ngIf="demandeForm.get('nom').errors.required">-->
                        <!--                Nom is required.-->
                        <!--            </div>-->
                        <!--        </div>-->
                    </div>



                    <div class="form-group ">
                        <label for="description" class="form-label">Description:</label>
                        <textarea class="form-control" formControlName="description" type="text" required></textarea>

                    </div>

                    <!--                                    <div class="upload-container">-->
                    <!--                                        <div class="input-div">-->
                    <!--                                            <input class="input" name="file" type="file" (change)="onFileChange($event)" >-->
                    <!--                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor" class="icon"><polyline points="16 16 12 12 8 16"></polyline><line y2="21" x2="12" y1="12" x1="12"></line><path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3"></path><polyline points="16 16 12 12 8 16"></polyline></svg>-->
                    <!--                                        </div>-->
                    <!--                                    </div>-->

                </div>


                 </article>



            <div class="workflow-container">
                <!--            <button (click)="Return()" class="btn btn-light" mdbRipple type="button">Annuler</button>-->
                <!--            <button class="btn btn-success me-md-2" mdbRipple type="submit">Confirmer</button>-->
                <app-workflow-decision
                        *ngIf="oppForm &&(oppForm['workflow']!=undefined ||!(this.oppForm.userPermission == 'WRITE')) "
                        (decisionEvent)="Confirmation($event)"
                        (saveEvent)="save()"
                        (RetournEvent)="Retourn()"
                        [access]="oppForm['userPermission'] === 'READ' || oppForm['userPermission'] === 'NONE'"
                        [decisions]="decissionWF"
                        [object]="oppForm"
                        [SaveObject]="oppForm">
                </app-workflow-decision>

                <!--        <div class="d-grid gap-2 d-md-flex justify-content-md-between">-->
                <!--            <button mdbRipple class="btn btn-light" type="button" (click)="Return()">Annuler</button>-->
                <!--            <button mdbRipple class="btn btn-success me-md-2" type="submit" >Confirmer</button>-->

            </div>
        </form>

    </div>


    <div
            class="tab-pane fade {{ elsebool1 ? 'show active' : '' }}"
            id="ex3-tabs-6"
            role="tabpanel"
            aria-labelledby="ex3-tab-5"
            *ngIf="elsebool1"
    >
        <dx-accordion
                [collapsible]="true"
                height="auto"
                [selectedIndex]="-1"
                [animationDuration]="300"
        >
            <dxi-item title="Opportunité info">
                <div >
                    <div class="form-group">
                        <label class="form-label"><b>Nom:</b></label>
                        <input class="form-control"  type="text" [value]="demandedto?.nom" readonly />
                    </div>
                    <div class="form-group">
                        <label  class="form-label"><b>Description:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto?.description" readonly />
                    </div>


                    <div class="form-group">
                        <label class="form-label"><b>Status:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto?.status" readonly />
                    </div>

                    <div class="form-group">
                        <label  class="form-label"><b>Created At:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto?.createAt | date:'medium'" readonly />
                    </div>


                </div>
            </dxi-item>
        </dx-accordion>
        <dx-accordion
                [collapsible]="true"
                height="auto"
                [selectedIndex]="-1"
                [animationDuration]="300"
        >
            <dxi-item title="Demande info">

                <div >
                    <div class="form-group">
                        <label class="form-label"><b>Nom demande:</b></label>
                        <input class="form-control"  type="text" [value]="demandedto?.demande?.nom " readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-label"><b>Status:</b></label>
                        <input  class="form-control"  type="text" [value]="demandedto?.demande?.activityName" readonly />
                    </div>
                    <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="form-label"><b>Créer par:</b></label>
                                                <input  class="form-control"  type="text" [value]="demandedto?.demande?.assignee" readonly />
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label  class="form-label"><b>Date de creation demande :</b></label>
                                                <input  class="form-control"  type="text" [value]="demandedto?.demande?.dateDeCreation | date:'medium'" readonly />
                                            </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><b>Client:</b></label>
                        <input class="form-control"  type="text" [value]="demandedto?.demande?.client?.nom " readonly />
                    </div>
                </div>
            </dxi-item>
        </dx-accordion>
        <h1>hhh666</h1>
        <form [formGroup]="oppF" class="row g-3 needs-validation custom-form" novalidate>




            <article class="postcard light green">
                <a class="postcard__img_link" href="#">
                    <!--                    <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />-->
                </a>
                <div class="postcard__text t-dark">


                    <div class="form-group ">
                        <label for="nom" class="form-label">Nom:</label>
                        <input class="form-control" formControlName="nom" type="text" required>
                        <!--        <div *ngIf="demandeForm.get('nom').invalid && (demandeForm.get('nom').dirty || demandeForm.get('nom').touched)"-->
                        <!--             class="alert alert-danger">-->
                        <!--            <div *ngIf="demandeForm.get('nom').errors.required">-->
                        <!--                Nom is required.-->
                        <!--            </div>-->
                        <!--        </div>-->
                    </div>



                    <div class="form-group ">
                        <label for="description" class="form-label">Description:</label>
                        <textarea class="form-control" formControlName="description" type="text" required></textarea>

                    </div>

                </div>


                  </article>



            <div class="workflow-container">
                <!--            <button (click)="Return()" class="btn btn-light" mdbRipple type="button">Annuler</button>-->
                <!--            <button class="btn btn-success me-md-2" mdbRipple type="submit">Confirmer</button>-->
                <app-workflow-decision
                        *ngIf="oppForm &&(oppForm['workflow']!=undefined ||!(this.oppForm.userPermission == 'WRITE')) "
                        (decisionEvent)="Confirmation($event)"
                        (saveEvent)="save()"
                        (RetournEvent)="Retourn()"
                        [access]="oppForm['userPermission'] === 'READ' || oppForm['userPermission'] === 'NONE'"
                        [decisions]="decissionWF"
                        [object]="oppForm"
                        [SaveObject]="oppForm">
                </app-workflow-decision>

                <!--        <div class="d-grid gap-2 d-md-flex justify-content-md-between">-->
                <!--            <button mdbRipple class="btn btn-light" type="button" (click)="Return()">Annuler</button>-->
                <!--            <button mdbRipple class="btn btn-success me-md-2" type="submit" >Confirmer</button>-->

            </div>
        </form>

    </div>

</div>
<dx-popup
        [showCloseButton]="true"
        [maxWidth]="'auto'"
        [width]="popupWidth"
        [height]="popupHeight"
        [showTitle]="false"
        title="Workflow Viewer"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupViewerVisible">
    <div *dxTemplate="let data of 'content'">
        <app-journal [viewerUrl]="demandedto.workflow.wfProcessID" [historicsWF]="demandedto.workflow.historicWF" [historicsEvt]="demandedto.events"
                     [historicsAcces]="demandedto.userActivity"></app-journal>
    </div>
</dx-popup>
<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '#employee' }"
    [(visible)]="loadingVisible"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [hideOnOutsideClick]="false"
    (onShown)="onShown()"
    (onHidden)="onHidden()"
>
</dx-load-panel>