
<dx-button
        text="Ajouter task"
        (onClick)="togglePopup()">
</dx-button>
<div id="kanban">
    <dx-scroll-view
            class="scrollable-board"
            direction="horizontal"
            showScrollbar="always"

    >
        <dx-sortable
                class="sortable-lists"
                itemOrientation="horizontal"
                handle=".list-title"
                (onReorder)="onListReorder($event)"

        >
            <div class="list" *ngFor="let list of lists; let listIndex = index">
                <div class="list-title dx-theme-text-color">{{
                    statuses[listIndex]
                    }}</div>
                <dx-scroll-view
                        class="scrollable-list"
                        direction="vertical"
                        showScrollbar="always"
                        #sortable
                >
                    <dx-sortable
                            class="sortable-cards"
                            group="cardsGroup"
                            [data]="list"
                            (onDragStart)="onTaskDragStart($event)"

                            (onAdd)="onTaskDrop($event)"
                    >
                        <div
                                class="card dx-card dx-theme-text-color dx-theme-background-color"
                                *ngFor="let task of list"
                        >
                            <div
                                    class="card-priority"
                                    [ngClass]="'priority-' + task.priority"
                            ></div>
                            <div class="card-subject">{{ task.subject}}</div>
                            <div class="card-subject">{{ task.details}}</div>
                            <div class="card-assignee">{{
                                employees[task.assignee]
                                }}</div>
                            <a (click)="deletetask(task.id)" target="_blank" rel="noopener" title="" >
                                <i class="fa fa-trash" style="color:#a63a3a;">
                                </i></a>
                        </div>
                    </dx-sortable>
                </dx-scroll-view>
            </div>
        </dx-sortable>
    </dx-scroll-view>
</div>

<dx-popup
        [maxWidth]="940"
        [width]="900"
        [height]="'auto'"
        [showTitle]="true"
        title="Ajouter task"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupVisible">

    <app-add-task (add)="add($event)"></app-add-task>
</dx-popup>